<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "About Us | Our Mission for a Sustainable Internet - Sustainable WWW",
        page_description: "Read the story of Sustainable WWW – from a blog to an international company. Our mission is to create a sustainable internet with solutions that make a difference.",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/about",
        page_keywords: "About Sustainable WWW, Sustainable WWW Sweden AB",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "About Us | Our Mission for a Sustainable Internet - Sustainable WWW",
          "description": "Read the story of Sustainable WWW – from a blog to an international company. Our mission is to create a sustainable internet with solutions that make a difference.",
          "url": "https://sustainablewww.com/about",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero SWWW_Hero--ContentMaxWidth">
                        <h1 class="SWWW_H1" style="max-width: 1000px;">Together, We Build the Internet of the <span class="SWW_Effect--Underline">Future</span></h1>
                        <p class="SWWW_P SWWW_Ingress P--MarginBottom80">For us, your vision is the priority. We create websites you can be proud of—while making the internet a sustainable part of our shared future.</p>
                    </div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <p class="SWWW_P">Sustainable WWW was founded in 2021 by Michael Andersen with a clear mission: to reduce the environmental impact of the internet. It all started as a blog where Michael shared his research and practical advice on making web development more sustainable. The blog quickly gained traction, leading to a newsletter, podcast appearances, and the publication of the book <a href="/en/sustainable-web-design-in-20-lessons">Sustainable Web Design in 20 Lessons</a>.</p>
                            <p>In 2023, the project took a major step forward with the launch of Wiki—an open-source library of sustainable web practices, hosted on GitHub and preserved in the Arctic Vault for future generations.</p>
                        </div>
                        <div>
                            <p class="SWWW_P">Today, Sustainable WWW is an international company helping clients in Sweden, Denmark, Norway, and various English-speaking countries build sustainable websites. Our mission remains the same—to make the internet more optimized and durable in alignment with global sustainability goals. At the same time, we ensure your websites and web applications meet your business objectives and requirements.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Meet the Founders</h2>
                    <ul class="SWWW_ContactList">
                        <li>
                            <picture>
                                <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portrait of Michael Andersen" loading="lazy" />
                            </picture>
                            <h3 class="SWWW_H3">Michael Andersen</h3>
                            <p class="SWWW_ContactList_Title">Founder, Web Developer, and Author</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Michael founded Sustainable WWW to share his knowledge on how the internet can become more sustainable. With over a decade of experience in web development, he authored Sustainable Web Design In 20 Lessons and is deeply passionate about both nature and technology. His work is dedicated to shaping a greener digital future.</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portrait of Max Wallberg" loading="lazy" />
                            </picture>
                            <h3 class="SWWW_H3">Max Wallberg</h3>
                            <p class="SWWW_ContactList_Title">Co-Founder, Sales</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Max is a passionate advocate for sustainability in all areas of life. With extensive experience in sales, he played a key role in transforming Sustainable WWW into a thriving business that creates sustainable websites for companies worldwide.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>