<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "About Us | Our Mission for a Sustainable Internet - Sustainable WWW",
        page_description: "Read the story of Sustainable WWW – from a blog to an international company. Our mission is to create a sustainable internet with solutions that make a difference.",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/about",
        page_keywords: "About Sustainable WWW, Sustainable WWW Sweden AB",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "About Us | Our Mission for a Sustainable Internet - Sustainable WWW",
          "description": "Read the story of Sustainable WWW – from a blog to an international company. Our mission is to create a sustainable internet with solutions that make a difference.",
          "url": "https://sustainablewww.com/about"
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero SWWW_Hero--ContentMaxWidth">
                        <h1 class="SWWW_H1">About us</h1>
                        <p class="SWWW_P SWWW_Ingress">We are dedicated to helping you build a sustainable, fast, and inclusive digital presence – for a greener future.</p>
                        <p class="SWWW_P SWWW_Ingress">For us, it’s crucial that your goals are at the center and that you receive a product you can be proud of – while we make the internet a sustainable part of our shared future.</p>
                        <a href="/services" class="SWWW_Button">Our services</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Our Mission and Vision</h2>
                            <p class="SWWW_P">Sustainable WWW was founded in 2021 by Max and Michael Andersen with a clear mission – to reduce the internet’s environmental impact. It all began as a blog where we shared our research and practical advice on how web development could become more sustainable.</p>
                            <p class="SWWW_P">The blog quickly grew, inspiring web developers worldwide, leading to Sustainable WWW becoming an international company today, helping clients in Sweden, Denmark, Norway, and English-speaking countries create sustainable websites. Our mission remains the same – to make the internet more optimized, sustainable, and inclusive for a better future.</p>
                            <p class="SWWW_P">We ensure your websites and web applications meet your goals and requirements while ensuring a positive impact on the environment and your digital presence.</p>
                        </div>
                        <div>
                            <h2 class="SWWW_H2">Our Journey</h2>
                            <ul class="SWWW_InfoList SWWW_InfoList--NoDash SWWW_InfoList--MaxWidth900">
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2021:</strong> Sustainable WWW was founded by Max and Michael Andersen, focusing on sustainable web practices, hosted on GitHub as an open-source library for sustainable web methods, and preserved in the Arctic Vault for future generations.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2022:</strong> The project evolved into a podcast, inspiring hundreds of developers and organizations to reduce their websites’ and web applications’ environmental impact.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2023:</strong> We launched our first services, focusing on web design and optimization, and established partnerships with Scandinavian companies to create sustainable web solutions.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>Today:</strong> Sustainable WWW is an international company continuing to lead the way toward a greener internet, offering services like web design, web development, analysis & optimization, and green hosting.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Meet the Founders</h2>
                    <ul class="SWWW_ContactList">
                        <li>
                            <picture>
                                <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portrait of Michael Andersen" loading="lazy" style="aspect-ratio: 650/951" />
                            </picture>
                            <h3 class="SWWW_H3">Michael Andersen</h3>
                            <p class="SWWW_ContactList_Title">Founder, Web Developer, and Author</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Michael founded Sustainable WWW to share his knowledge on how the internet can become more sustainable. With over a decade of experience in web development, he authored Sustainable Web Design In 20 Lessons and is deeply passionate about both nature and technology. His work is dedicated to shaping a greener digital future.</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portrait of Max Wallberg" loading="lazy" style="aspect-ratio: 650/951" />
                            </picture>
                            <h3 class="SWWW_H3">Max Wallberg</h3>
                            <p class="SWWW_ContactList_Title">Co-Founder, Sales</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Max is a passionate advocate for sustainability in all areas of life. With extensive experience in sales, he played a key role in transforming Sustainable WWW into a thriving business that creates sustainable websites for companies worldwide.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>