<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Get a customized sustainability analysis of your website and a non-binding offer.",
        page_description: "Optimize your website with sustainable solutions that save money, attract more customers, and future-proof your business. Learn more about our analysis and optimization!",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/services/analysis-and-optimization",
        page_keywords: "Sustainable WWW Bæredygtige løsninger, Bæredygtige webudvikling, bæredygtige webapplikationer",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Get a customized sustainability analysis of your website and a non-binding offer.",
          "description": "Optimize your website with sustainable solutions that save money, attract more customers, and future-proof your business. Learn more about our analysis and optimization!",
          "url": "https://sustainablewww.com/services/analysis-and-optimization
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Analysis and Optimization</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">We analyze your website or system to identify optimization opportunities that improve performance, reduce costs, and enhance sustainability.</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Contact us today</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Why Analyze Your Website’s CO2?</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globe vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Environmental Responsibility</h3>
                                <p class="SWWW_P">Measuring your website’s CO2 footprint demonstrates accountability and helps reduce energy consumption and emissions, benefiting both the environment and your business.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/wallet.svg" alt="Wallet vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Cost Savings</h3>
                                <p class="SWWW_P">By reducing your website’s CO2 footprint, you optimize resources and efficiency, lowering hosting and operational costs while achieving long-term savings.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/time.svg" alt="Time vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Improved Performance</h3>
                                <p class="SWWW_P">Optimizing your website for lower CO2 emissions results in faster loading times, better performance, and higher SEO rankings – increasing engagement and conversions.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/megaphone.svg" alt="Megaphone vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Competitive Advantage</h3>
                                <p class="SWWW_P">As consumers become more environmentally conscious, a sustainable website can strengthen your brand, differentiate you from competitors, and attract valuable customers and partners.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/contract.svg" alt="Contract vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Regulatory Compliance</h3>
                                <p class="SWWW_P">Governments are introducing regulations to reduce CO2 emissions. By proactively optimizing your website, you ensure compliance, minimize the risk of fines, and future-proof your business.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Holding hands vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Corporate Social Responsibility (CSR)</h3>
                                <p class="SWWW_P">A strong sustainability profile enhances your CSR efforts, making your business more attractive to investors, customers, and partners who value responsible business practices. This can increase trust, loyalty, and brand value.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3">Frequently Asked Questions</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Do you have questions about our services or what we do? Here, you’ll find answers to some of the most common questions.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            What does the website analysis include?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">The website analysis provides details on page size, loading times, and hosting environment, along with a list of optimization suggestions and their impact. You can either implement the changes yourself or let us do it with full transparency on the improvements.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Can I implement the recommended changes myself?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Yes, you are welcome to use the analysis results to make the changes yourself. However, we are also available to assist, allowing you to focus on your business instead.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Are the changes suitable for any type of website?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Yes, the suggested changes apply to all websites, regardless of size or functionality. If you choose us to implement the optimizations, we will carefully follow the recommended improvements from the report. We encourage you to review the report to understand how our changes will impact your website’s sustainability and performance in the long run.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            How is the price estimate determined?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">The price estimate is based on a thorough evaluation of your website or system. We consider the complexity and necessary changes required for optimization. While we cannot provide an exact price without understanding the technical setup, we will estimate the number of hours needed to implement the selected or recommended improvements. This gives you a clear cost overview before proceeding.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            What kinds of changes will be recommended?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">The recommended changes may include code optimizations to reduce load times, improving energy efficiency to minimize CO2 footprint, reducing unnecessary resource usage, enhancing user experience, and implementing sustainable hosting solutions to support your website’s long-term sustainability.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Do you offer ongoing support after the changes are implemented?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Yes, we provide ongoing support and maintenance to ensure that your website remains optimized, sustainable, and runs smoothly even after the improvements are implemented.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>