<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Kontakt os - Sustainable WWW",
        page_description: "Har du spørgsmål eller et projekt i tankerne? Kontakt os i dag på info@sustainablewww.org, og lad os sammen skabe en mere bæredygtig web-løsning!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/kontakt",
        page_keywords: "Bæredygtige hjemmesider",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Kontakt os - Sustainable WWW",
          "description": "Har du spørgsmål eller et projekt i tankerne? Kontakt os i dag på info@sustainablewww.org, og lad os sammen skabe en mere bæredygtig web-løsning!",
          "url": "https://sustainablewww.dk/kontakt",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h1 class="SWWW_H1">Kontakt os</h1>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du spørgsmål, en idé til et projekt eller ønsker du at høre mere om, hvordan vi kan hjælpe dig? Tøv ikke med at tage kontakt – vi står klar til at hjælpe! Send os en mail på <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>, så vender vi tilbage hurtigst muligt.</p>
                    <ul class="SWWW_ImageList SWWW_ImageList--421">
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/ImagesMichael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Michael Andersen" loading="lazy" />
                                </picture>
                                <h3 class="SWWW_H3">Michael Andersen</h3>
                                <p class="SWWW_ContactList_Title">Grundlægger, Webudvikler</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:0046737744159" title="Klik for at ringe til Michael">+46 73-774 41 59</a>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:004571626830" title="Klik for at ringe til Michael">+45 71 62 68 30</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:michael@sustainablewww.org" title="Klik for at sende en email til Michael">michael@sustainablewww.org</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Max Wallberg" loading="lazy" />
                                </picture>
                                <h3 class="SWWW_H3">Max Wallberg</h3>
                                <p class="SWWW_ContactList_Title">Grundlægger, Salg</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:0046736315678" title="Klik for at ringe til Max">+46 73-631 56 78</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:max@sustainablewww.org" title="Klik for at sende en email til Max">max@sustainablewww.org</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2">Bliv en del af teamet</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Brænder du for at gøre en forskel og være med til at drive udviklingen af et grønnere internet? Se vores ledige stillinger, eller send en uopfordret ansøgning til <a href="mailto:info@sustainablewww.org?subject=Uopfordret jobansøgning til Sustainable WWW">info@sustainablewww.org</a>.</p>
                    <a href="/dk/ledige-stillinger" class="SWWW_Button">Se vores ledige stillinger</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>