<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Contact us - Sustainable WWW",
        page_description: "Do you have any questions or a project in mind? Contact us today at info@sustainablewww.org, and let’s create a more sustainable web solution together!",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/contact",
        page_keywords: "Contact Sustainable WWW, Contact Sustainable WWW Sweden AB, Email Sustainable WWW, Call Sustainable WWW",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Contact us - Sustainable WWW",
          "description": "Do you have any questions or a project in mind? Contact us today at info@sustainablewww.org, and let’s create a more sustainable web solution together!",
          "url": "https://sustainablewww.com/contact"
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h1 class="SWWW_H1">Contact us</h1>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom60">Do you have questions, ideas for a project, or want to learn more about how we can help you? Don’t hesitate to contact us – we’re ready to assist!</p>
                    <ul class="SWWW_InfoList SWWW_InfoList--NoDash">
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Address:</strong> Gräsmånadsgatan 30, 415 48 Gothenburg, Sweden</p>
                        </li>
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Telephone: </strong><a href="tel:+46317903740">+46 (031) 79 03 740</a></p>
                        </li>
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Email: </strong><a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a></p>
                        </li>
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Organization number:</strong> 559470-7167</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Meet the Founders</h2>
                    <ul class="SWWW_ImageList SWWW_ImageList--421">
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/ImagesMichael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portrait of Michael Andersen" loading="lazy" />
                                </picture>
                                <h3 class="SWWW_H3">Michael Andersen</h3>
                                <p class="SWWW_ContactList_Title">Founder, Web Developer</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:+46317903740" title="Click to call Michael Andersen">+46 31 79 03 740</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:michael@sustainablewww.org" title="Click to send an email to Michael Andersen">michael@sustainablewww.org</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portrait of Max Wallberg" loading="lazy" />
                                </picture>
                                <h3 class="SWWW_H3">Max Wallberg</h3>
                                <p class="SWWW_ContactList_Title">Founder, Advocate</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:+46317903740" title="Click to call Max Wallberg">+46 31 79 03 740</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:max@sustainablewww.org" title="Click to send an email to Max Wallberg">max@sustainablewww.org</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Join our team</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Are you passionate about using your skills to drive the development of a greener internet? Check out our open positions, or send a spontaneous application to <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>.</p>
                    <a href="/available-positions" class="SWWW_Button">Open positions</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>