<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Sustainable and efficient web hosting for your business – Choose green energy or Raspberry Pi solution",
        page_description: "Get reliable web hosting with green energy or Raspberry Pi solution. Optimize performance and reduce costs for your business.",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/services/hosting",
        page_keywords: "Sustainable WWW web hosting, Raspberry Pi Web Hosting, Sustainable web hosting",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Sustainable and efficient web hosting for your business – Choose green energy or Raspberry Pi solution",
          "description": "Get reliable web hosting with green energy or Raspberry Pi solution. Optimize performance and reduce costs for your business.",
          "url": "https://sustainablewww.com/services/hosting
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Hosting</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Choose the perfect hosting solution that fits your business needs – either with sustainable green energy or an efficient Raspberry Pi solution.</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Contact us today</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">What we can help you with</h2>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h3 class="SWWW_H3">Green Hosting in Sweden</h3>
                            <p class="SWWW_P">We offer hosting in a data center in Sweden that runs on 100% green energy. The best part of this solution is that the surplus heat from the servers is recycled and used to supplement the district heating system. A sustainable solution that both protects the environment and optimizes energy efficiency.</p>
                        </div>
                        <div>
                            <h3 class="SWWW_H3">Hosting on Raspberry Pi</h3>
                            <p class="SWWW_P">If you only need a static website, we can host your solution on a Raspberry Pi directly with us. This is a simple and efficient hosting option, perfect for smaller projects that don’t require large server resources.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2">Benefits</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Discover the advantages of choosing us as your hosting partner and get a more reliable, sustainable, and efficient solution for your business.</p>
                    <ul class="SWWW_CheckList SWWW_CheckList--2Columns">
                        <li>
                            <p class="SWWW_P"><strong>Green hosting:</strong> We host your websites in a data center in Sweden that exclusively uses 100% renewable energy and recycles surplus heat for district heating, making your hosting both sustainable and economically responsible.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Full control and access:</strong> We have direct access to the servers, allowing us to quickly perform updates, security patches, and improvements, without waiting for third parties.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Tailored solutions:</strong> Our hosting options are flexible and can be customized to your specific needs, whether you have a complex dynamic site or a simple static website.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Fast and reliable performance:</strong> Our hosting solutions are optimized for speed and reliability, ensuring your website loads quickly and is available around the clock.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Scalability and future-proofing:</strong> Whether you’re starting small or planning to grow, our hosting solutions can easily scale to meet your future needs, ensuring that your website can always keep up with your development.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Monitoring</h2>
                            <p class="SWWW_P">We offer 24/7 monitoring of all our clients’ websites and web solutions. This means that we continuously keep track of your site’s performance and availability. If a website goes down, we are automatically notified within minutes, allowing us to quickly respond and resolve the issue before it affects your customers.</p>
                            <p class="SWWW_P">This proactive approach ensures that your website is always up and running, and any issues are handled swiftly and efficiently.</p>
                        </div>
                        <div>
                            <img class="SWWW_SectionImage" src="/Images/phone.svg" alt="Phone icon" loading="lazy" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h3 class="SWWW_H3">Frequently Asked Questions</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Do you have questions about our services or what we do? Here you can find answers to some of the most frequently asked questions.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            How does hosting with us work?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">When we develop a website or web solution for you, we will jointly assess whether hosting with us is the right solution. If that’s the case, we’ll help you choose the best platform for your needs, whether it’s via our green data center in Sweden or by hosting your website on a Raspberry Pi with us. We’ll ensure to find a solution that’s both cost-effective and technically optimal for your project.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            How can I change hosting plans?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">With us, it’s easy to change your hosting plan if your needs change. You can switch from our data center hosting to a Raspberry Pi solution, or vice versa, depending on what suits your business best. If you use our data center, we also automatically ensure that the server is scaled up or down to match your actual needs. This gives you flexibility without worries.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Support and maintenance
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">We are always ready to help with any questions or support needs. Our dedicated team is just a phone call or email away. You can contact us by phone: +46 73 631 56 78, or send an email to info@sustainablewww.org. We offer ongoing support and maintenance to ensure your website always performs optimally.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Pricing structure and billing
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Our pricing structure is based on standard rates, which we adjust depending on your specific project. This way, you get the best price tailored to your needs. Billing is done monthly, quarterly, or annually, depending on what best fits your business. We are transparent with our pricing and always ensure we find the most economical solution for you.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>