<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Our work - Sustainable WWW",
        page_description: "Explore our work showcasing sustainable websites and digital solutions that strengthen brands and deliver real results. See how we make a difference!",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/our-work",
        page_keywords: "Sustainable Websites, Sustainable WWW Portfolio, Sustainable WWW Case-studies, Our work",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Our work - Sustainable WWW",
          "description": "Explore our work showcasing sustainable websites and digital solutions that strengthen brands and deliver real results. See how we make a difference!",
          "url": "https://sustainablewww.com/our-work"
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <h1 class="SWWW_H1 SWWW_DoubleMarginBottom">Our work</h1>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/our-work/mayari-animal-rescue" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Mayari-Rescue/Mayari-Rescue-Web-Design-Optimization-Sustainable-WWW-Sweden-AB-WebP.webp" />
                                    <img src="/Images/Case-Studies/Mayari-Rescue/Mayari-Rescue-Web-Design-Optimization-Sustainable-WWW-Sweden-AB.jpg" alt="Screenshots of Mayari Animal Rescues updated website design" loading="eager" style="aspect-ratio: 250/107" />
                                </picture>
                                <h2>Mayari Animal Rescue</h2>
                                <p>Web Design</p>
                            </a>
                        </li>
                        <li>
                            <a href="/our-work/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshots of Skydive Swedens website" loading="eager" style="aspect-ratio: 250/107" />
                                </picture>
                                <h2>Skydive Sweden</h2>
                                <p>Web Design and Problem-solving</p>
                            </a>
                        </li>
                        <li>
                            <a href="/our-work/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshots of Kompetencekildens website" loading="eager" style="aspect-ratio: 250/107" />
                                </picture>
                                <h2>Kompetencekilden</h2>
                                <p>Web Design</p>
                            </a>
                        </li>
                        <li>
                            <a href="/our-work/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Screenshot of Tandemhopps website" loading="lazy" style="aspect-ratio: 250/107" />
                                </picture>
                                <h2>Tandemhopp</h2>
                                <p>Web Design</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>