<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Our services - Sustainable WWW",
        page_description: "Sustainable web design, development, and analysis. We create fast, energy-efficient websites that reduce CO₂ footprint and optimize user experience.",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/services",
        page_keywords: "Sustainable WWW Services",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Our services - Sustainable WWW",
          "description": "Sustainable web design, development, and analysis. We create fast, energy-efficient websites that reduce CO₂ footprint and optimize user experience.",
          "url": "https://sustainablewww.com/services
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Our <span class="SWW_Effect--Underline">Services</span></h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">We Create Sustainable, Fast, and Effective Web Solutions for a Greener Future.</p>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">The core of our business is digital sustainability. Our services are dedicated to promoting a greener, more inclusive, and future-proof internet.</p>
                        <a href="/contact" class="SWWW_Button">Contact us</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Web Design</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">We create sustainable and ultra-fast websites that reduce costs, increase conversions, and strengthen your brand. Our solutions are over 60% lighter, faster, and more efficient than industry standards – delivering better user experiences and a smaller CO₂ footprint.</p>
                            <a href="/services/webdesign" target="_self" class="SWWW_Button">Read more about Web Design</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Web Development</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">We develop advanced web solutions, including interactive dashboards, custom intranets, and mission-critical web applications. Using technologies like React, Express.js, and Node.js, we build intelligent, user-friendly systems that optimize workflows and enhance the digital experience – sustainably and efficiently.</p>
                            <a href="/services/webdevelopment" target="_self" class="SWWW_Button">Read more about Web Development</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Analysis & Optimization</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Gain insight into your website’s performance, sustainability, and efficiency. We analyze speed, CO₂ footprint, and user experience, delivering a report with concrete optimization recommendations. We can also help you improve your website to make it faster, lighter, and more sustainable – benefiting both your business and the environment.</p>
                            <a href="/services/analysis-and-optimization" target="_self" class="SWWW_Button">Read more about Analysis and Optimization</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Hosting</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">We offer green hosting in Sweden, powered by 100% renewable energy, as well as cost-effective Raspberry Pi solutions for smaller projects. Our sustainable hosting reduces your CO₂ footprint, optimizes performance, and protects your website – all while recycling excess heat for an even greener solution.</p>
                            <a href="/services/hosting" target="_self" class="SWWW_Button">Read more about Hosting</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3 SWWW_DoubleMarginBottom">Frequently Asked Questions About Our Services</h3>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Why Should I Choose a Sustainable Website for My Business?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">A sustainable website benefits both the environment and your business:</p>
                                    <ul class="SWWW_CheckList">
                                        <li>
                                            <p class="SWWW_P"><strong>Eco-Friendly:</strong> Reduces CO₂ emissions through lower energy consumption.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Cost Savings:</strong> Efficient coding and optimized solutions lower hosting costs and improve loading times.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Strengthens Your Brand:</strong> Shows your commitment to sustainability.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Future-Proofing:</strong> Prepares your business for upcoming digital sustainability requirements.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Competitive Advantage:</strong> Attracts eco-conscious customers.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Can You Make My Existing Website More Sustainable?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Yes, we can analyze your existing website and identify improvement areas to reduce its environmental impact. <a href="/contact">Contact us</a> for a free consultation!</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Do You Offer Support and Maintenance After the Website Is Launched?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Yes, we provide ongoing support and maintenance to ensure your website performs optimally even after launch. We want you to feel confident in your online presence.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Do You Offer Training on How to Manage and Update Website Content?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Yes, we provide support and training so you can easily manage your website or web solution.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    What Does It Cost to Develop a Sustainable Website?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">The cost varies depending on the project’s scope and complexity. Sustainable solutions are often more cost-effective in the long run thanks to reduced energy consumption and lower hosting costs. <a href="/contact">Contact us</a> for a customized quote!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>