<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Sustainable web design in 20 lessons - Sustainable WWW",
        page_description: "Learn to create fast and sustainable websites with 20 lessons based on 10+ years of experience. 300+ pages packed with insights, tools, and strategies.",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/sustainable-web-design-in-20-lessons",
        page_keywords: "Sustainable Web Design In 20 Lessons, Sustainable web design book, Sustainable web development book, Book about sustainable web design, How to create climate friendly websites",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Sustainable web design in 20 lessons - Sustainable WWW",
          "description": "Learn to create fast and sustainable websites with 20 lessons based on 10+ years of experience. 300+ pages packed with insights, tools, and strategies.",
          "url": "https://sustainablewww.com/sustainable-web-design-in-20-lessons"
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_H1--BookTitle">Sustainable Web Design In 20 Lessons</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">A practical guide to faster, more efficient, and sustainable websites – based on 10+ years of industry experience.</p>
                        <a href="https://www.amazon.com/Sustainable-Web-Design-20-Lessons-ebook/dp/B0BS1NRNPF" target="_blank" class="SWWW_Button" rel="nofollow noopener noreferrer">Buy the book now</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H3">Book Description</h2>
                            <p class="SWWW_P">Did you know that the internet is one of the world’s largest environmental polluters today? Responsible for 4% of global greenhouse gas emissions—twice as much as the aviation sector—it is an invisible source of pollution that continues to grow. If this trend persists, the internet’s carbon footprint could soon surpass that of every nation except China, India, and the U.S.</p>
                            <p class="SWWW_P">But there is a solution.</p>
                            <p class="SWWW_P">As we work towards a net-zero future by 2050, reducing the internet’s CO₂ footprint is crucial. The problem? Websites and digital products are becoming heavier and more resource-intensive, driven by faster internet speeds and increasingly powerful hardware. The solution? <strong>Sustainable web design</strong>.</p>
                            <p class="SWWW_P"><strong>Sustainable Web Design In 20 Lessons</strong> is your guide to building efficient, eco-friendly websites—without compromising design or functionality. Across 300+ pages, Michael shares over a decade of hands-on experience, equipping you with the tools to make a real impact.</p>
                        </div>
                        <div>
                            <picture>
                                <source type="image/webp" srcset="/Images/Sustainable-Web-Design-In-20-Lessons-Wide-Gumroad-Cover-Mobile-Without-Preview-webp.webp" />
                                <img src="/Images/Sustainable-Web-Design-In-20-Lessons-Wide-Gumroad-Cover-Mobile-Without-Preview.jpg" alt="A picture showing the cover page of the book Sustainable Web Design In 20 Lessons" loading="lazy" />
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Testimonials</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">See what industry experts are saying about the book and why it’s an important step toward a more sustainable internet.</p>
                    <div class="SWWW_Quote">
                        <div class="SWWW_Quote_Image">
                            <picture>
                                <source type="image/webp" srcset="/Images/tom-greenwood-webp.webp" />
                                <img class="SWWW_Effect--NoHighlight" src="/Images/tom-greenwood.jpg" alt="Tom Greenwood (Author of the book Sustainable Web Design)" loading="lazy" />
                            </picture>
                            <p class="SWWW_Quote_Person">Tom Greenwood</p>
                            <p class="SWWW_Quote_Occupation">Author of Sustainable Web Design</p>
                        </div>
                        <div class="SWWW_Quote_Text">
                            <p class="SWWW_P">Michael Andersen is the creator is the online resource and organisation Sustainable WWW, raising awareness and teaching how to create a more sustainable web. As part of this mission, he has recently published this book on the same topic, sharing the lessons that he has learned in recent years. As the title suggests, it’s full of practical tips on how to take action in your web design projects to reduce their environmental impact.</p>
                            <p class="SWWW_P">Drawing inspiration from a range of sources, the 20 lessons covered include minimalist design, page weight budgeting, HTML, CSS and JS optimisation, as well as lessons on green API’s, email newsletters, accessibility and much more.</p>
                            <p class="SWWW_P">Andersen’s ’20 lessons’ format offers an easy to follow, practical application of the research and best practices on sustainable web design. <strong>If you’re after an in-depth ‘how to guide, then this format may be just what you’re looking for.</strong></p>
                        </div>
                    </div>
                    <div class="SWWW_Quote">
                        <div class="SWWW_Quote_Image">
                            <picture>
                                <source type="image/webp" srcset="/Images/Ismael-Velasco-webp.webp" />
                                <img class="SWWW_Effect--NoHighlight" src="/Images/Ismael-Velasco.jpg" alt="Portrait of Ismael Velasco" loading="lazy" />
                            </picture>
                            <p class="SWWW_Quote_Person">Ismael Velasco</p>
                            <p class="SWWW_Quote_Occupation">W3C's Sustainable Web Design Group</p>
                        </div>
                        <div class="SWWW_Quote_Text">
                            <p class="SWWW_P">If you’re a climate-conscious but busy web developer wanting to green your practice, Sustainable Web Design in 20 Lessons by Michael Andersen is your ideal starting point. Your day-to-day web development practice can be an impactful climate action: this book will help you make it so.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>