<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Sustainable Web Design | Building a Future-Proof Internet – Sustainable WWW",
        page_description: "Sustainable websites that save energy, reduce CO₂, and increase speed. Make your business greener today – contact us for details!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/services/webdesign",
        page_keywords: "Sustainable WWW Sustainable Webdesign, Sustainable websites, Sustainable Web Design",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Sustainable Web Design | Building a Future-Proof Internet – Sustainable WWW",
          "description": "Sustainable websites that save energy, reduce CO₂, and increase speed. Make your business greener today – contact us for details!",
          "url": "https://sustainablewww.com/services/webdesign,
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/en/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Sustainable Web Design</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">We create lightning-fast, sustainable websites that reduce costs, improve user experience, and strengthen your company’s green profile. Over 60% lighter than the industry standard!</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Contact us today</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Why Choose Us?</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globe vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Low-carbon</h3>
                                <p class="SWWW_P">Our websites are optimized for minimal CO₂ emissions, faster performance, and lower operational costs – a smart investment in sustainability.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Calculator vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Lighter & Faster</h3>
                                <p class="SWWW_P">Our websites are over 60% lighter than the industry standard, ensuring lightning-fast loading times and a better user experience across all devices.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/cogwheel.svg" alt="Cogwheel vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Tailored Solutions</h3>
                                <p class="SWWW_P">We design websites based on your unique needs, providing an optimized, fast, and easy-to-maintain solution that strengthens your business.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Holding hands vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Accessibility</h3>
                                <p class="SWWW_P">We ensure that everyone can use your website – regardless of abilities. Our solutions focus on inclusion, usability, and value for all.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Shield vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Security</h3>
                                <p class="SWWW_P">Our websites are built to withstand threats such as DDoS attacks and malicious bots, keeping your business stable and protected.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Graph vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">SEO-Friendly</h3>
                                <p class="SWWW_P">We use advanced technologies and methods to optimize your website’s SEO, helping your product achieve higher rankings in search results.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Cases</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/en/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot of two of Skydive Swedens website pages" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Web Design and problem-solving</p>
                            </a>
                        </li>
                        <li>
                            <a href="/en/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot of two of Kompetencekildens website pages" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Web Design</p>
                            </a>
                        </li>
                        <li>
                            <a href="/en/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Two of Tandemhopps website pages" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Web Design</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <h3 class="SWWW_H3">Frequently Asked Questions</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Do you have questions about our services or what we do? Here, you’ll find answers to some of the most common questions.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            What technologies do you work with?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">We work with modern technologies such as Node.js, Express.js, MongoDB, EJS, React, Svelte, Rust, and Strapi. For websites, we always start with static content and add dynamic elements only when necessary. This approach ensures the most secure and fastest solution for you.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Do you develop custom solutions?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Yes, we create custom solutions tailored to your goals and requirements. We typically begin with static content and add dynamic elements if needed to ensure the best possible outcome.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Does a sustainable website cost more?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">It’s a misconception that sustainable websites are more expensive. While the initial investment may be slightly higher, long-term savings lead to lower hosting costs, improved performance, reduced maintenance expenses, and a longer lifespan. Sustainable web design optimizes both energy and code, providing financial benefits and a greener solution.</p>
                            <p class="SWWW_P P--MaxWidth900">That’s why we can confidently say that a sustainable solution will save you money in the long run.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>