<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Sustainable Web Design | Building a Future-Proof Internet – Sustainable WWW",
        page_description: "Sustainable websites that save energy, reduce CO₂, and increase speed. Make your business greener today – contact us for details!",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/services/webdesign",
        page_keywords: "Sustainable WWW Sustainable Webdesign, Sustainable websites, Sustainable Web Design",
        page_author: "Sustainable WWW",
        page_locale: "en"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Sustainable Web Design | Building a Future-Proof Internet – Sustainable WWW",
          "description": "Sustainable websites that save energy, reduce CO₂, and increase speed. Make your business greener today – contact us for details!",
          "url": "https://sustainablewww.com/services/webdesign
        }
    </script>
    <%- include('../Partials/EN/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Fast, Stylish, and Eco-Friendly Websites</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Tired of slow websites that cost a fortune and harm the environment?</p>
                        <p class="SWWW_P P--MaxWidth900 P--MarginBottom10">Invest in a website that is:</p>
                        <ul class="SWWW_CheckList">
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Lightning-Fast:</strong> We optimize every detail to provide your visitors with a superior experience.</p>
                            </li>
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Stylish:</strong> We design websites that reflect your brand and engage your customers.</p>
                            </li>
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Sustainable:</strong> We reduce your climate impact and show that you take responsibility for the environment.</p>
                            </li>
                        </ul>
                        <a href="mailto:info@sustainablewww.org">
                            <strong>Contact us today for a free consultation!</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Choose Us For Your Web Design!</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">We know you have many choices when hiring a web design agency. Here are a few reasons why Sustainable WWW is the right choice for you:</p>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/moneypig.svg" alt="Vector of money" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Lower Your Costs:</h3>
                                <p class="SWWW_P">Our optimized websites require less server power and reduce your hosting costs.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Vector of a graph" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Rank Higher on Google:</h3>
                                <p class="SWWW_P">Fast and user-friendly websites are rewarded by Google, giving you more traffic and more customers.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/trophy.svg" alt="Vector of a gear" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Strengthen Your Brand:</h3>
                                <p class="SWWW_P">Show your customers that you care about the environment and attract a growing group of environmentally conscious consumers.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Vector of hands holding each other" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Accessibility Focused:</h3>
                                <p class="SWWW_P">Our websites are adapted for everyone, regardless of disability or technical knowledge.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Vector of a shield" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Protect Your Business:</h3>
                                <p class="SWWW_P">We build secure websites that resist attacks and protect your data.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">What Does Sustainable Web Design Mean in Practice?</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Many web design agencies talk about design and features, but we go a step further. We think about the big picture and optimize your website for:</p>
                    <ul class="SWWW_InfoList SWWW_InfoList--MaxWidth900">
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Minimal Carbon Footprint:</strong> We choose green hosting and minimize data transfer.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Maximum Performance:</strong> We use the latest technology and optimize the code for the fastest possible loading times.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Long-Term Sustainability:</strong> We build websites that are easy to maintain and update, reducing the need for expensive redesigns in the future.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Cases</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot of two of Skydive Swedens website pages" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Web Design and problem-solving</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot of two of Kompetencekildens website pages" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Web Design</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Two of Tandemhopps website pages" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Web Design</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3">Frequently Asked Questions</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Do you have questions about our services or what we do? Here, you’ll find answers to some of the most common questions.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Is sustainable web design more expensive?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Not necessarily. Although the initial investment may be slightly higher, you save money in the long run through lower hosting costs and increased traffic.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            What technologies do you use?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">We are experts in modern technologies such as Node.js, React, Svelte, and other tools that help us build fast and efficient websites.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Can you customize the design to my needs?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Absolutely! We create tailored websites that reflect your brand and meet your specific goals.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Ready to Take the Next Step?</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Contact us today for a free consultation! We'll discuss your needs and show you how we can help you create a website that is both good for your business and good for the environment.</p>
                    <a href="/contact" class="SWWW_Button">Contact us</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/EN/Footer.ejs') %>
</body>
</html>