@use "./Abstracts/_colors.scss" as c;
@use "./Abstracts/fonts" as f;
@use "./Abstracts//general" as g;
@use "./Abstracts/breakpoints" as b;

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 68px 0 0 0;
    margin: 0;
    border: none;
    font-family: f.$Paragraph_Font;
    font-weight: f.$Paragraph_Font_Weight_Normal;
    font-style: f.$Paragraph_Font_Style_Normal;
    line-height: 1.75;
    font-size: 16px;
    color: c.$Black_Lighter;

    &.SWWW_Light {
        background-color: c.$White;
    }

    &.SWWW_Dark {
        background-color: c.$Black_Lighter;
    }
}

// HEADER
header.SWWW_Header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: c.$White;
    z-index: 2;

    .SWWW_Header_Inner {
        width: 100%;
        max-width: g.$Site_Inner_width;
        height: auto;
        display: grid;
        grid-template-columns: 115px 1fr 85px;
        column-gap: 35px;
        align-items: center;
        padding: g.$Site_Inner_Padding calc(g.$Site_Inner_Padding * 2);
        margin: 0 auto;

        .SWWW_SiteLogo_Wrapper {
            svg {
                display: block;
                width: 100px;
                height: auto;
                padding: 0;
                margin: 0;
            }
        }

        // WEBSITE NAVIGATION
        .SWWW_Navigation {
            margin-left: auto;

            > ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                > li {
                    a {
                        display: block;
                        font-family: f.$Paragraph_Font;
                        font-weight: f.$Paragraph_Font_Weight_Normal;
                        font-style: f.$Paragraph_Font_Style_Normal;
                        color: c.$Black_Lighter;
                        font-size: 1rem;
                        letter-spacing: -.7px;
                        text-decoration: none;
                        padding: 5px 10px;
                        margin: 0;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    &:last-child {
                        > a {
                            padding-right: 0;
                        }
                    }

                    ul.SWWW_Navigation_Submenu {
                        display: none;
                        position: absolute;
                        top: 45px;
                        list-style: none;
                        padding: 10px;
                        margin: 0;
                        background-color: c.$White;
                        z-index: 3;

                    }

                    .SWWW_Navigation_ServiceMenuToggler {
                        &:hover, &:focus, &:active {
                            ul.SWWW_Navigation_Submenu {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        // LANGUAGE SWITCHER
        .SWWW_LanguageSwitcher {
            ul {
                display: grid;
                grid-template-columns: repeat(3, 25px);
                column-gap: 5px;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 20px;
                            height: auto;
                        }
                    }
                    
                }
            }
        }

        // MOBILE MENU TOGGLER
        .SWWW_MobileMenuToggler {
            width: 42px;
            height: 42px;
            display: none;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0;
            background-color: transparent;
            padding: 0;
            margin-left: auto;

            svg {
                width: 32px;
                height: 32px;

                path {
                    fill: c.$Black_Lighter;
                }
            }
        }

        // MOBILE MENU
        .SWWW_Mobile_Menu {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: c.$White;
            overflow-y: auto;
            z-index: 4;

            button.SWWW_Mobile_Menu_Close {
                position: absolute;
                top: 0;
                right: 0;
                width: 42px;
                height: 42px;
                background-color: transparent;
                border: none;
                border-radius: 0;
                padding: 0;
                margin: 0;

                svg {
                    width: 32px;
                    height: 32px;
    
                    path {
                        fill: c.$Black_Lighter;
                    }
                }
            }

            .SWWW_SiteLogo {
                display: block;
                width: 200px;
                height: auto;
                margin: 15% auto 13% auto;
                padding: 0;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            nav.SWW_Mobile_Menu_Navigation {
                width: 100%;
                max-width: 350px;
                padding: 0;
                margin: 0 auto 40px auto;

                > ul {
                    display: block;
                    list-style: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;

                    > li {
                        width: 100%;

                        .SWWW_Mobile_Menu_Navigation--WithSubmenu {
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;

                            .SWWW_Mobile_Menu_Navigation_Submenu_Toggler {
                                display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                                align-items: center;
                                width: 42px;
                                height: 42px;
                                background-color: transparent;
                                border: none;
                                border-radius: 0;

                                svg {
                                    width: 24px;
                                    height: 24px;
                                    transition: all ease-in-out g.$Site_General_Animation_Time;

                                    path {
                                        fill: c.$Black_Lighter;
                                    }
                                }
                            }
                        }

                        a {
                            display: block;
                            font-family: f.$Paragraph_Font;
                            font-weight: f.$Paragraph_Font_Weight_Normal;
                            font-style: f.$Paragraph_Font_Style_Normal;
                            color: c.$Black_Lighter;
                            font-size: 1.45rem;
                            letter-spacing: -.7px;
                            text-decoration: none;
                            text-align: center;
                            padding: 5px 10px;
                            margin: 0;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }

                        .SWWW_Navigation_Submenu {
                            width: 100%;
                            height: auto;
                            max-height: 0;
                            list-style: none;
                            padding: 0 0 0 8%;
                            margin: 0;
                            overflow-y: hidden;
                            transition: all ease-in-out .3s;
                        }

                        &.SWWW_Navigation_Submenu--Open {
                            .SWWW_Mobile_Menu_Navigation_Submenu_Toggler {
                                svg {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }
            }

            .SWWW_LanguageSwitcher {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                margin-top: auto;
                margin-bottom: 45px;

                > ul {
                    grid-template-columns: repeat(3, 55px);

                    li {
                        a {
                            svg {
                                width: 37px;
                            }
                        }
                    }
                }
            }

            &.SWWW_Mobile_Menu--Open {
                display: flex;
                flex-flow: column wrap;
                justify-content: flex-start;
                align-items: flex-start;

                @media screen and (min-width: b.$Break_Point_Medium) {
                    display: none;
                }
            }
        }

        // SWITCHING TO MOBILE LAYOUT
        @media screen and (max-width: b.$Break_Point_Medium) {
            grid-template-columns: 1fr 42px;

            .SWWW_Navigation, .SWWW_LanguageSwitcher {
                display: none;
            }

            .SWWW_MobileMenuToggler {
                display: flex;
            }
        }

        @media screen and (max-width: b.$Break_Point_Small) {
            padding: g.$Site_Inner_Padding;
        }
    }
}

// GRID LAYOUT
.SWWW_Grid {
    display: grid;

    &.SWWW_Grid5050 {
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;

        @media screen and (max-width: b.$Break_Point_Medium) {
            grid-template-columns: 1fr;
        }
    }
}

main {
    display: none;
}

// FOOTER
.SWWW_Footer {
    width: 100%;
    background-color: c.$Black_Lighter;

    > div {
        width: 100%;
        max-width: g.$Site_Inner_width;
        padding: 70px calc(g.$Site_Inner_Padding * 2) 30px calc(g.$Site_Inner_Padding * 2);
        margin: 0 auto;

        .SWWW_Footer_Row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 35px;
            margin-bottom: 60px;

            &:last-child {
                margin-bottom: 0;
            }

            .SWWW_Footer_Section {
                width: 100%;

                .SWWW_SiteLogo {
                    display: block;
                    width: 125px;
                    height: auto;
                    margin-bottom: 60px;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                .SWWW_H3 {
                    font-size: 42px;
                    font-weight: normal;
                    color: c.$White;
                    line-height: 3.5rem;
                    margin: 0;
                    text-decoration: none;

                    svg {
                        width: 60px;
                        height: auto;
                        margin-left: 10px;
                        transition: all ease-in-out g.$Site_General_Animation_Time;

                        path {
                            fill: c.$White;
                        }
                    }
                }

                a.SWWW_H3 {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    &:hover {
                        svg {
                            transform: translateX(7px);
                        }
                    }
                    
                }

                .SWWW_Grid {
                    max-width: 430px;
                }

                address, ul.SWWW_Footer_ContactLinks li a, .SWWW_Footer_Navigation ul li a {
                    display: block;
                    font-family: f.$Paragraph_Font;
                    font-weight: f.$Paragraph_Font_Weight_Normal;
                    font-style: f.$Paragraph_Font_Style_Normal;
                    color: c.$Text_White;
                    font-size: .9rem;
                    line-height: 1.4rem;
                    letter-spacing: -.7px;
                    text-decoration: none;
                }

                ul.SWWW_Footer_ContactLinks {
                    width: 100%;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    > li {
                        width: 100%;

                        a {
                            &:hover, &:focus, &:active {
                                cursor: pointer;
                                color: c.$SWWW_Green;
                            }
                        }
                    }
                }

                .SWWW_Footer_Navigation {
                    > ul {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        > li {
                            & + li {
                                margin-left: 25px;
                            }

                            a {
                                font-size: .73rem;

                                &:hover, &:focus, &:active {
                                    cursor: pointer;
                                    color: c.$SWWW_Green;
                                }
                            }
                        }
                    }

                    
                }

                .carbonbadge {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }

    @media screen and (max-width: 880px) {
        > div {
            padding-top: 50px;

            .SWWW_Footer_Row {
                grid-template-columns: 1fr;
                row-gap: 45px;

                &:first-child {
                    margin-bottom: 35px;
                }

                &:first-child {
                    .SWWW_Footer_Section:first-child {
                        order: 2;
                    }

                    .SWWW_Footer_Section:last-child {
                        order: 1;
                    }
                }

                .SWWW_Footer_Section {
                    .SWWW_H3 {
                        font-size: 34px;
                        line-height: 2.9rem;
                    }

                    .SWWW_SiteLogo {
                        margin-bottom: 35px;
                    }

                    .carbonbadge {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }

    @media screen and (max-width: b.$Break_Point_Medium) {
        .SWWW_Grid.SWWW_Grid5050 {
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
        }
    }

    @media screen and (max-width: b.$Break_Point_Small) {
        .SWWW_Grid.SWWW_Grid5050 {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 35px;
        }

        .SWWW_Footer_Navigation {
            > ul {
                flex-flow: row wrap !important;

                > li {
                    width: 100%;
                    margin-left: 0 !important;
                }
            }
        }
    }
}

/*
    ANIMATION AND TRANSITION CLASSES
*/
.Hover--Scale {
    transition: all ease-in-out g.$Site_General_Animation_Time;

    &:hover {
        transform: scale(1.03);
    }
}