<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Cases - Sustainable WWW",
        page_description: "Se vores case studies med bæredygtige hjemmesider, der skaber resultater og styrker brands. Læs hvordan vi gør en forskel!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/cases",
        page_keywords: "Sustainable WWW Cases, Sustainable WWW Case Studies",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Cases - Sustainable WWW",
          "description": "Se vores case studies med bæredygtige hjemmesider, der skaber resultater og styrker brands. Læs hvordan vi gør en forskel!",
          "url": "https://sustainablewww.dk/cases",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <h1 class="SWWW_H1 SWWW_DoubleMarginBottom">Cases</h1>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/dk/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot af Skydive Sweden's startside" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webdesign og problemløsning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dk/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot af to af Kompetencekilden.dk's sider" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dk/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Tandemhopp.se startpage screenshot" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>