<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtige hjemmesider og løsninger for en grønnere, hurtigere og bedre fremtid",
        page_description: "Skræddersyede, bæredygtige hjemmesider for et grønnere web. Vi garanterer hurtigere, renere og mere effektive sites – inkluderende og tilgængelige, tilpasset dine behov.",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/",
        page_keywords: "Bæredygtige hjemmesider",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtige, lette og ultra-hurtige hjemmesider for dig og planeten",
          "description": "Skræddersyede, bæredygtige hjemmesider for et grønnere web. Vi garanterer hurtigere, renere og mere effektive sites – inkluderende og tilgængelige, tilpasset dine behov.",
          "url": "https://sustainablewww.dk/",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg id="Layer_1" class="SWWW_Logo" xmlns="http://www.w3.org/2000/svg" width="3500.84" height="1105.16" viewBox="0 0 3500.84 1105.16">
                            <defs>
                                <style>.cls-1,.cls-2{fill:none;stroke:#231f20;stroke-miterlimit:10;stroke-width:40px;}.cls-3{opacity:.99;}.cls-3,.cls-4{fill:#231f20;stroke-width:0px;}.cls-2{stroke-linecap:round;}</style>
                            </defs>
                            <path class="cls-1" d="m1050.07,552.59c0,276.14-223.86,500-500,500S50.07,828.73,50.07,552.59c0-117.48,42.72-206.16,58.98-235.79C192.39,164.85,363.13,50.65,550.07,52.59c248.84,2.58,500,210.67,500,500Z"/>
                            <path class="cls-1" d="m109.04,316.8c53.92,1.59,269.81,14.81,455.69,203.77,181.59,184.6,213.16,413.53,219.75,473.77"/>
                            <path class="cls-1" d="m971.77,289.98c-22.45-2.19-149.03-12.02-251.58,96.82-69.89,74.17-91.34,163.9-98.12,199.5"/>
                            <path class="cls-2" d="m174.31,419.48c50.9,12.42,122.17,35.78,198.47,81.98,69.22,41.91,119.45,88.6,153.17,125.12"/>
                            <path class="cls-2" d="m738.07,798.13c38.8-48.38,80.87-109.25,117.39-182.24,32.94-65.83,53.87-126.53,67.44-178.36"/>
                            <path class="cls-2" d="m769.73,970.75c-61-6.91-202.98-32.17-337.53-149.03-95.99-83.37-147.86-178.32-173.76-235.43"/>
                            <path class="cls-3" d="m1405.45,211.86c-16.12-11.64-31.34-17.46-45.66-17.46-8.95,0-16.12,2.39-21.49,7.16-5.37,4.78-8.06,10.37-8.06,16.79s2.91,11.86,8.73,16.34c5.82,4.48,15,9.62,27.53,15.44,12.54,5.82,22.68,11.12,30.44,15.89,18.5,11.35,27.75,27.31,27.75,47.9,0,12.24-3.36,23.43-10.07,33.57-6.71,10.15-16.19,18.21-28.43,24.17-12.24,5.97-27.61,8.95-46.11,8.95s-38.65-4.62-60.43-13.88l6.71-42.08,4.92-3.13c8.95,7.76,18.72,13.73,29.32,17.91,10.59,4.18,20.44,6.27,29.55,6.27s16.34-2.39,21.71-7.16c5.37-4.77,8.06-10.59,8.06-17.46s-2.99-12.53-8.95-17.01c-5.97-4.48-15.3-9.62-27.98-15.44-12.69-5.82-22.76-11.11-30.22-15.89-18.21-11.04-27.31-26.86-27.31-47.45,0-12.53,3.36-23.8,10.07-33.8,6.71-10,16.12-17.98,28.2-23.95,12.09-5.97,26.48-8.8,43.2-8.51,16.71.3,34.17,4.03,52.38,11.19l-7.16,38.95-6.71,2.69Z"/>
                            <path class="cls-3" d="m1646.62,299.6c.29,25.67-7.16,45.59-22.38,59.76-15.22,14.18-36.79,21.26-64.69,21.26s-48.95-6.86-63.12-20.59c-14.18-13.72-20.97-33.27-20.37-58.64l.45-30.89-1.34-108.78h45.66l-2.24,133.85c-.3,31.94,14.02,47.9,42.98,47.9s43.27-15.22,42.98-45.66l-2.24-136.09h46.56l-2.24,137.88Z"/>
                            <path class="cls-3" d="m1822.87,211.86c-16.12-11.64-31.34-17.46-45.66-17.46-8.95,0-16.12,2.39-21.49,7.16-5.37,4.78-8.06,10.37-8.06,16.79s2.91,11.86,8.73,16.34c5.82,4.48,15,9.62,27.53,15.44,12.54,5.82,22.68,11.12,30.44,15.89,18.5,11.35,27.75,27.31,27.75,47.9,0,12.24-3.36,23.43-10.07,33.57-6.71,10.15-16.19,18.21-28.43,24.17-12.24,5.97-27.61,8.95-46.11,8.95s-38.65-4.62-60.43-13.88l6.71-42.08,4.92-3.13c8.95,7.76,18.72,13.73,29.32,17.91,10.59,4.18,20.44,6.27,29.55,6.27s16.34-2.39,21.71-7.16c5.37-4.77,8.06-10.59,8.06-17.46s-2.99-12.53-8.95-17.01c-5.97-4.48-15.3-9.62-27.98-15.44-12.69-5.82-22.76-11.11-30.22-15.89-18.21-11.04-27.31-26.86-27.31-47.45,0-12.53,3.36-23.8,10.07-33.8,6.71-10,16.12-17.98,28.2-23.95,12.09-5.97,26.48-8.8,43.2-8.51,16.71.3,34.17,4.03,52.38,11.19l-7.16,38.95-6.71,2.69Z"/>
                            <path class="cls-3" d="m2033.15,199.33l-40.29-2.24h-13.88l-1.34,111.92,1.79,68.49h-45.21l2.24-64.46-1.79-115.94h-13.43l-41.19,2.24-3.13-4.03,3.13-33.57h153.1l2.69,3.58-2.69,34.02Z"/>
                            <path class="cls-3" d="m2208.51,377.5l-5.37-28.2-5.82-20.15-42.08-.9-37.16.9-5.82,17.91-5.82,30.44h-44.77l72.97-215.77h54.17l66.25,215.77h-46.56Zm-46.11-173.25h-3.13l-29.55,89.98,29.1.45,29.1-.45-25.52-89.98Z"/>
                            <path class="cls-3" d="m2350.29,377.5h-45.66l2.69-64.46-2.69-151.31h46.56l-2.69,147.28,1.79,68.49Z"/>
                            <path class="cls-3" d="m2602.2,377.5h-49.24l-87.74-146.39h-3.13v71.63l1.34,74.76h-41.63l2.69-63.57-1.79-152.21h48.8l87.74,145.94h3.13l-1.79-144.15,42.53-2.69-2.69,149.97,1.79,66.7Z"/>
                            <path class="cls-3" d="m2796.81,377.5l-5.37-28.2-5.82-20.15-42.08-.9-37.16.9-5.82,17.91-5.82,30.44h-44.77l72.97-215.77h54.17l66.25,215.77h-46.56Zm-46.11-173.25h-3.13l-29.55,89.98,29.1.45,29.1-.45-25.52-89.98Z"/>
                            <path class="cls-3" d="m3039.77,215c0,24.78-10.9,41.63-32.68,50.59,28.94,6.57,43.42,23.58,43.42,51.03,0,41.79-32.83,62.67-98.49,62.67-19.1,0-38.8-.6-59.09-1.79l2.69-64.46-2.69-151.31,77-.45c22.08,0,39.24,4.63,51.48,13.88,12.23,9.25,18.35,22.54,18.35,39.84Zm-74.98,131.61c10.89,0,20.21-2.76,27.98-8.28,7.76-5.52,11.64-13.5,11.64-23.95,0-15.81-10.45-25.66-31.34-29.55l-37.16.45-.45,23.73,1.34,36.26c7.76.9,17.08,1.34,27.98,1.34Zm19.92-146.39c-5.67-4.18-15.82-6.27-30.44-6.27h-16.56l-.89,58.64,31.34,1.34c16.71-4.48,25.07-15.37,25.07-32.68,0-9.85-2.84-16.86-8.51-21.04Z"/>
                            <path class="cls-3" d="m3220.95,377.5h-116.84l2.69-64.46-2.69-151.31h46.56l-2.69,147.28.9,30.89h72.52l2.69,3.58-3.13,34.02Z"/>
                            <path class="cls-3" d="m3407.94,343.48l-3.13,34.02h-135.64l2.69-64.46-2.69-151.31h136.98l2.69,3.58-3.13,34.02-51.93-1.79h-38.95l-.9,51.93,37.6.9,34.92-.9,2.69,3.13-3.13,34.02-38.05-.9-34.47.45-.45,22.83.89,32.68,38.05.45,53.27-2.24,2.69,3.58Z"/>
                            <path class="cls-4 cls-4-first" d="m1669.84,958.83l-72.2-231.64h-6.02l-73.2,231.64h-107.3l-135.38-483.34h100.27l7.03,58.16,85.23,319.89h8.02l81.23-260.72-35.09-117.33h104.28l11.03,69.19,87.25,308.86h7.02l97.28-311.88,12.03-66.17h95.27l-159.45,483.34h-107.3Z"/>
                            <path class="cls-4 cls-4-second" d="m2423.91,958.83l-72.2-231.64h-6.02l-73.2,231.64h-107.3l-135.38-483.34h100.27l7.03,58.16,85.23,319.89h8.02l81.23-260.72-35.09-117.33h104.28l11.03,69.19,87.25,308.86h7.02l97.28-311.88,12.03-66.17h95.27l-159.45,483.34h-107.3Z"/>
                            <path class="cls-4 cls-4-third" d="m3177.99,958.83l-72.2-231.64h-6.02l-73.2,231.64h-107.3l-135.38-483.34h100.27l7.03,58.16,85.23,319.89h8.02l81.23-260.72-35.09-117.33h104.28l11.03,69.19,87.25,308.86h7.02l97.28-311.88,12.03-66.17h95.27l-159.45,483.34h-107.3Z"/>
                        </svg>
                        <h1 class="SWWW_H1 SWWW_Effect--Fade">Bæredygtige, lette og ultra-hurtige hjemmesider for dig og <span class="SWW_Effect--Underline">planeten</span></h1>
                        <a class="SWWW_Effect--Fade" href="#Hvad-Er-En-Baeredygtig-Hjemmeside">Hvad er en bæredygtig hjemmeside?</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Effect--Fade">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Cases</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/dk/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot af Skydive Sweden's startside" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webdesign og problemløsning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dk/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot af to af Kompetencekilden.dk's sider" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dk/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Tandemhopp.se startpage screenshot" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Effect--Fade">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div> 
                            <span class="SWWW_Section_LinkPin" id="Hvad-Er-En-Baeredygtig-Hjemmeside"></span>
                            <h2 class="SWWW_H2">Hvad er en bæredygtig hjemmeside?</h2>
                            <p class="SWWW_P SWWW_Ingress">En bæredygtig hjemmeside er bygget efter principper som reducere energi-forbruget, forbedrer brugeroplevelsen og sparer dig penge.</p>
                            <a href="" target="_self" class="SWWW_Button">Lær mere</a>
                        </div>
                        <div>
                            <iframe width="100%" height="350" src="https://www.youtube.com/embed/F8BlVwC4UPA?si=sEelG6m3Cd1NtUde" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--HalfVerticalMargin SWWW_Effect--Fade">
                <div>
                    <h3 class="SWWW_H3 SWWW_DoubleMarginBottom">Små hurtige om bæredygtige løsninger</h3>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>  
                            <div class="SWWW_FAQ SWWW_FAQ--Open">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Er bæredygtige websites langsomme eller mindre flotte?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Nej! Bæredygtige websites er optimeret til hastighed og effektivitet og er ofte hurtigere end traditionelle hjemmesider. Vi skriver optimeret kode, anvender effektiv hosting og benytter os af talentfulde designere for at skabe smukke og lynhurtige løsninger.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Er bæredygtige løsninger dyrere end et almindeligt?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ikke nødvendigvis. Vores løsninger reducerer ofte de langsigtede omkostninger ved at minimere energiforbruget, forbedre ydeevnen og kræve mindre vedligeholdelse.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Kan en bæredygtig hjemmeside virkelig gøre en forskel?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja! Internettet står for 4-5% af verdens CO₂-udledning, og hver optimeret hjemmeside reducerer energiforbruget. Samtidig giver hurtigere indlæsningstider og bedre performance en forbedret brugeroplevelse og højere SEO-ranking.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="SWWW_FAQ ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Kan en bæredygtig hjemmeside håndtere avancerede funktioner og e-handel?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Absolut! Bæredygtighed betyder ikke færre muligheder, men tværtom. Vores løsninger understøtter alt fra e-handel og specialudviklede funktioner til dynamisk indhold uden at gå på kompromis med ydeevnen. Vi tilpasser vores løsninger til dine behov.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Hvordan kan en bæredygtig hjemmeside spare min virksomhed penge?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">En hurtigere, mere optimeret hjemmeside reducerer behovet for dyre serverressourcer, sænker hostingudgifter og mindsker vedligeholdelsesomkostninger. Samtidig kan bedre performance, bedre tilgængelig og SEO føre til flere kunder.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Hvorfor bør jeg vælge en bæredygtig hjemmeside til min virksomhed?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">En bæredygtig hjemmeside er ikke kun godt for klimaet - det er også en fordel for din forretning. Hurtigere hastigheder, bedre SEO, lavere hostingomkostninger og en stærkere grøn profil giver en fremtidssikret online tilstedeværelse.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Effect--Fade">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Services</h2>
                            <p class="SWWW_P SWWW_Ingress">Vi skaber skræddersyede webdesign- og udviklingsløsninger med fokus på bæredygtighed.</p>
                        </div>
                        <div>
                            <ul class="SWWW_LinkList">
                                <li>
                                    <a href="/dk/services/webdesign" target="_self">01. Webdesign</a> 
                                </li>
                                <li>
                                    <a href="/dk/services/webudvikling" target="_self">02. Webudvikling</a> 
                                </li>
                                <li>
                                    <a href="/dk/services/analyse-og-optimering" target="_self">03. Analyse & optimering</a> 
                                </li>
                                <li>
                                    <a href="/dk/services/hosting" target="_self">04. Hosting</a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>