<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtig og effektiv web hosting til din virksomhed - Vælg grøn energi eller Raspberry Pi-løsning",
        page_description: "Få pålidelig web hosting med grøn energi eller Raspberry Pi-løsning. Optimer ydeevnen og reduktion af omkostninger for din virksomhed.",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services/hosting",
        page_keywords: "Sustainable WWW web hosting, Raspberry Pi Web Hosting, Bæredygtig web hosting",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtig og effektiv web hosting til din virksomhed - Vælg grøn energi eller Raspberry Pi-løsning",
          "description": "Få pålidelig web hosting med grøn energi eller Raspberry Pi-løsning. Optimer ydeevnen og reduktion af omkostninger for din virksomhed.",
          "url": "https://sustainablewww.dk/services/hosting,
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Hosting</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vælg den perfekte hostingløsning, der passer til din virksomheds behov – enten med bæredygtig grøn energi eller en effektiv Raspberry Pi-løsning.</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Kontakt os idag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Hvad vi kan hjælpe dig med</h2>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h3 class="SWWW_H3">Grøn Hosting i Sverige</h3>
                            <p class="SWWW_P">Vi tilbyder hosting i et datacenter i Sverige, der kører på 100% grøn energi. Det bedste ved denne løsning er, at overskudsvarmen fra serverne bliver genanvendt og bruges til at supplere fjernvarmesystemet. En bæredygtig løsning, der både beskytter miljøet og optimerer energiudnyttelsen.</p>
                        </div>
                        <div>
                            <h3 class="SWWW_H3">Hosting på Raspberry Pi</h3>
                            <p class="SWWW_P">Hvis du kun har brug for en statisk hjemmeside, kan vi hoste din løsning på en Raspberry Pi direkte hos os. Dette er en enkel og effektiv hostingmulighed, der er perfekt til mindre projekter, der ikke kræver store serverressourcer.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2">Fordelene</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Opdag fordelene ved at vælge os som din hostingpartner og få en mere pålidelig, bæredygtig og effektiv løsning til din virksomhed.</p>
                    <ul class="SWWW_CheckList SWWW_CheckList--2Columns">
                        <li>
                            <p class="SWWW_P"><strong>Grøn hosting:</strong> Vi hoster dine websider i et data center i Sverige, der udelukkende bruger 100% vedvarende energi og genanvender overskudsvarmen til fjernvarme, hvilket gør din hosting både bæredygtig og økonomisk ansvarlig.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Fuld kontrol og adgang:</strong> Vi har direkte adgang til serverne, hvilket giver os mulighed for hurtigt at udføre opdateringer, sikkerhedspatches og forbedringer, uden at du behøver at vente på tredjepart.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Skræddersyede løsninger:</strong> Vores hostingmuligheder er fleksible og kan tilpasses dine specifikke behov, uanset om du har en kompleks dynamisk side eller en simpel statisk hjemmeside.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Hurtig og pålidelig ydeevne:</strong> Vores hostingløsninger er optimeret for hastighed og pålidelighed, hvilket sikrer, at din hjemmeside indlæses hurtigt og er tilgængelig døgnet rundt.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Skalerbarhed og fremtidssikring:</strong> Uanset om du starter småt eller har planer om at vokse, kan vores hostingløsninger nemt skaleres for at imødekomme dine fremtidige behov og sikre, at din hjemmeside altid kan følge med din udvikling.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Overvågning</h2>
                            <p class="SWWW_P">Vi tilbyder døgnet rundt overvågning af alle vores kunders hjemmesider og web løsninger. Dette betyder, at vi konstant holder øje med din sides ydeevne og tilgængelighed. Hvis en hjemmeside skulle gå ned, får vi automatisk besked indenfor få minutter, hvilket gør os i stand til hurtigt at reagere og løse problemet, før det påvirker dine kunder.</p>
                            <p class="SWWW_P">Denne proaktive tilgang sikrer, at din hjemmeside altid er oppe og kører, og at eventuelle problemer bliver håndteret hurtigt og effektivt.</p>
                        </div>
                        <div>
                            <img class="SWWW_SectionImage" src="/Images/phone.svg" alt="Phone icon" loading="lazy" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h3 class="SWWW_H3">Ofte stillede spørgsmål</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du spørgsmål om vores tjenester eller hvad vi gør? Her finder du svar på nogle af de mest stillede spørgsmål.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvordan fungerer hosting med os?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Når vi udvikler en hjemmeside eller web-løsning for jer, vil vi i fællesskab vurdere, om hosting hos os er den rette løsning. Hvis det er tilfældet, hjælper vi med at vælge den bedste platform til jeres behov, uanset om det er via vores grønne datacenter i Sverige eller ved at hoste jeres hjemmeside på en Raspberry Pi hos os. Vi sørger for at finde en løsning, der både er økonomisk fornuftig og teknisk optimal for jeres projekt.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvordan kan man ændre hostingplaner?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Hos os er det nemt at ændre jeres hostingplan, hvis jeres behov ændrer sig. I kan skifte fra vores datacenter-hosting til en Raspberry Pi-løsning, eller omvendt, alt efter hvad der passer bedst til jeres virksomhed. Hvis I benytter vores datacenter, sørger vi også automatisk for, at serveren op- eller nedskaleres, så den altid passer til jeres faktiske behov. Det giver jer fleksibilitet uden bekymringer.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Support og vedligeholdelse
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi står altid klar til at hjælpe jer med eventuelle spørgsmål eller behov for support. Vores dedikerede team er kun et opkald eller en e-mail væk. I kan kontakte os på telefon: +46 73 631 56 78, eller sende en e-mail til info@sustainablewww.org. Vi tilbyder løbende support og vedligeholdelse, så jeres hjemmeside altid fungerer optimalt.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Prisstruktur og fakturering
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vores prisstruktur er baseret på standardpriser, som vi justerer afhængigt af jeres specifikke projekt. På den måde får I den bedste pris, der er skræddersyet til jeres behov. Fakturering sker månedligt, kvartalsvist eller årligt, alt efter hvad der passer bedst til jeres virksomhed. Vi er transparente med vores priser og sørger altid for at finde den mest økonomiske løsning for jer.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>