<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtig og effektiv web hosting til din virksomhed - Vælg grøn energi eller Raspberry Pi-løsning",
        page_description: "Få pålidelig web hosting med grøn energi eller Raspberry Pi-løsning. Optimer ydeevnen og reduktion af omkostninger for din virksomhed.",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services/hosting",
        page_keywords: "Sustainable WWW web hosting, Raspberry Pi Web Hosting, Bæredygtig web hosting",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtig og effektiv web hosting til din virksomhed - Vælg grøn energi eller Raspberry Pi-løsning",
          "description": "Få pålidelig web hosting med grøn energi eller Raspberry Pi-løsning. Optimer ydeevnen og reduktion af omkostninger for din virksomhed.",
          "url": "https://sustainablewww.dk/services/hosting",
          {
            "@type": "FAQPage",
            "mainEntity": [
              {
                "@type": "Question",
                "name": "Hvad betyder grøn hosting?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Grøn hosting drives af 100% vedvarende energi, såsom vind, vand- og solenergi, for at reducere CO₂-udledninger og miljøpåvirkning."
                }
              },
              {
                "@type": "Question",
                "name": "Er bæredygtig hosting dyrere?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Nej, vores løsninger er omkostningseffektive og sparer penge i det lange løb gennem lavere energiomkostninger og optimeret ydeevne."
                }
              },
              {
                "@type": "Question",
                "name": "Virker det for alle hjemmesider?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Ja, vores bæredygtige hosting passer til alle typer hjemmesider, uanset størrelse, kompleksitet eller projektstørrelse."
                }
              },
              {
                "@type": "Question",
                "name": "Kan jeg skifte hostingplan?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Ja, du kan nemt skifte hostingplan, hvis dine behov ændrer sig – vi tilbyder skalerbare løsninger."
                }
              },
              {
                "@type": "Question",
                "name": "Hvilken type support tilbyder I?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Vi tilbyder hurtig og pålidelig support via telefon og e-mail samt døgnovervågning for at sikre optimal ydeevne."
                }
              },
              {
                "@type": "Question",
                "name": "Hvordan er prissætningen struktureret?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Vores prissætning er baseret på standardtakster tilpasset dine specifikke behov. <a href=\"/kontakt\">Kontakt os</a> for et tilbud!"
                }
              }
            ]
          }
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Bæredygtig hosting</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Ønsker du en hjemmeside, der er hurtig, pålidelig og godt for miljøet? Hos Sustainable WWW tilbyder vi grøn hosting i Sverige, drevet af 100% vedvarende energi, samt omkostningseffektive Raspberry Pi-løsninger til mindre projekter.</p>
                        <a href="/kontakt" class="SWWW_Button">Kontakt os i dag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Hvorfor vælge Sustainable WWW til bæredygtig hosting?</h2>
                    <ul class="SWWW_IconList SWWW_IconList--2-1">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globusvektor" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Reducér dit CO₂-aftryk</h3>
                                <p class="SWWW_P">Vores grønne hosting bruger 100% vedvarende energi og genbruger overskudsvarme for at minimere miljøpåvirkningen.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/time.svg" alt="Tidsvektor" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Hurtig og pålidelig ydeevne</h3>
                                <p class="SWWW_P">Vores hostingløsninger er optimerede til lynhurtige indlæsningstider og høj tilgængelighed.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Skjoldvektor" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Sikkerhed i verdensklasse</h3>
                                <p class="SWWW_P">Vi beskytter din hjemmeside mod trusler og angreb med avancerede sikkerhedsforanstaltninger og døgnovervågning.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Lommeregner-vektor" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Spar penge</h3>
                                <p class="SWWW_P">Omkostningseffektive løsninger med lavere energiomkostninger og skalerbarhed reducerer dine driftsomkostninger over tid.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Bæredygtig hosting i praksis</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/icon-1.svg" alt="Vektor af nummer 1" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Grøn energi</h3>
                                <p class="SWWW_P">Vi kører på 100% vedvarende energi, såsom vind, vand- og solenergi, for at reducere CO₂-udledninger.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/icon-2.svg" alt="Vektor af nummer 2" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Energieffektivitet</h3>
                                <p class="SWWW_P">Vores servere er optimerede til at minimere energiforbruget, herunder genbrug af overskudsvarme.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/icon-3.svg" alt="Vektor af nummer 3" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Langsigtet bæredygtighed</h3>
                                <p class="SWWW_P">Vi tilbyder skalerbare løsninger tilpasset dine behov, hvilket reducerer fremtidige omkostninger.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Vores ekspertise</h2>
                    <ul class="SWWW_InfoList SWWW_InfoList--MaxWidth900">
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Grøn hosting i Sverige</strong> – Vi hoster din hjemmeside i et datacenter, der bruger 100% vedvarende energi og genbruger overskudsvarme til at opvarme lokale hjem.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Raspberry Pi-hosting</strong> – Vi tilbyder omkostningseffektive og miljøvenlige løsninger til mindre hjemmesider med lave ressourcebehov.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Høj ydeevne og skalerbarhed</strong> – Vores løsninger er optimerede til lynhurtige indlæsningstider og kan skaleres op eller ned efter behov.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Sikkerhed og stabilitet</strong> – Vi overvåger dine hjemmesider døgnet rundt og implementerer robuste sikkerhedsforanstaltninger for at beskytte mod trusler.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Energieffektive teknologier</strong> – Vi bruger energieffektive servere og teknologier til at reducere miljøpåvirkning og driftsomkostninger.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Ofte stillede spørgsmål om vores bæredygtige hosting</h3>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvad betyder grøn hosting?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Grøn hosting drives af 100% vedvarende energi, såsom vind, vand- og solenergi, for at reducere CO₂-udledninger og miljøpåvirkning.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Er bæredygtig hosting dyrere?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 -960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Nej, vores løsninger er omkostningseffektive og sparer penge i det lange løb gennem lavere energiomkostninger og optimeret ydeevne.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Virker det for alle hjemmesider?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vores bæredygtige hosting passer til alle typer hjemmesider, uanset størrelse, kompleksitet eller projektstørrelse.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan jeg skifte hostingplan?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, du kan nemt skifte hostingplan, hvis dine behov ændrer sig – vi tilbyder skalerbare løsninger.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilken type support tilbyder I?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi tilbyder hurtig og pålidelig support via telefon og e-mail samt døgnovervågning for at sikre optimal ydeevne.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvordan er prissætningen struktureret?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vores prissætning er baseret på standardtakster tilpasset dine specifikke behov. <a href="/kontakt">Kontakt os</a> for et tilbud!</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>