<!DOCTYPE html>
<html lang="da">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Kontakt os - Sustainable WWW",
        page_description: "Har du spørgsmål eller et projekt i tankerne? Kontakt os i dag på info@sustainablewww.org, og lad os sammen skabe en mere bæredygtig web-løsning!",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/kontakt",
        page_keywords: "Bæredygtige hjemmesider",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "Kontakt os - Sustainable WWW",
    "description": "Har du spørgsmål eller et projekt i tankerne? Kontakt os i dag på info@sustainablewww.org, og lad os sammen skabe en mere bæredygtig web-løsning!",
    "url": "https://sustainablewww.dk/kontakt",
    "mainEntity": {
        "@type": "Organization",
        "name": "Sustainable WWW",
        "url": "https://sustainablewww.dk",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+46-31-79-03-740",
            "contactType": "Customer Service",
            "email": "info@sustainablewww.org",
            "areaServed": "SE",
            "availableLanguage": ["Danish", "Swedish", "English"]
        },
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Gräsmånadsgatan 30",
            "postalCode": "415 48",
            "addressLocality": "Göteborg",
            "addressCountry": "SE"
        },
        "taxID": "559470-7167"
    }
    }
</script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h1 class="SWWW_H1">Kontakt os</h1>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom60">Har du spørgsmål, idéer til et projekt eller vil du vide mere om, hvordan vi kan hjælpe dig? Tøv ikke med at kontakte os – vi står klar til at assistere!</p>
                    <ul class="SWWW_InfoList SWWW_InfoList--NoDash">
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Adresse:</strong> Gräsmånadsgatan 30, 415 48 Göteborg, Sverige</p>
                        </li>
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Telefon: </strong><a href="tel:+46317903740">+46 (031) 79 03 740</a></p>
                        </li>
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>E-mail: </strong><a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a></p>
                        </li>
                        <li>
                            <p class="SWWW_P SWWW_Ingress"><strong>Organisationsnummer:</strong> 559470-7167</p>
                        </li>
                    </ul>
                    <a href="https://app.reclaim.ai/m/swww-michael/digital-meeting" class="SWWW_Button" rel="noopener noreferrer" target="_blank">Book et gratis møde med Michael</a>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Mød grundlæggerne</h2>
                    <ul class="SWWW_ImageList SWWW_ImageList--421">
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Michael Andersen" loading="lazy" style="aspect-ratio: 650/951" />
                                </picture>
                                <h3 class="SWWW_H3">Michael Andersen</h3>
                                <p class="SWWW_ContactList_Title">Grundlægger, Webudvikler</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:+46317903740" title="Ring til Michael Andersen">031 79 03 740</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:michael@sustainablewww.org" title="Send e-mail til Michael Andersen">michael@sustainablewww.org</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Max Wallberg" loading="lazy" style="aspect-ratio: 650/951" />
                                </picture>
                                <h3 class="SWWW_H3">Max Wallberg</h3>
                                <p class="SWWW_ContactList_Title">Grundlægger, Fortaler</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:+46317903740" title="Ring til Max Wallberg">031 79 03 740</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:max@sustainablewww.org" title="Send e-mail til Max Wallberg">max@sustainablewww.org</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Bliv en del af vores team</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Brænder du for at bruge dine færdigheder til at fremme udviklingen af et grønnere internet? Tjek vores ledige stillinger, eller send en uopfordret ansøgning til <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>.</p>
                    <a href="/ledige-stillinger" class="SWWW_Button">Ledige stillinger</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>