<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Om os | Vores mission for et bæredygtigt internet - Sustainable WWW",
        page_description: "Læs historien om Sustainable WWW – fra blog til international virksomhed. Vores mission er at skabe et bæredygtigt internet med løsninger, der gør en forskel.",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/om-os",
        page_keywords: "Bæredygtige hjemmesider",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Om os | Vores mission for et bæredygtigt internet - Sustainable WWW",
          "description": "Læs historien om Sustainable WWW – fra blog til international virksomhed. Vores mission er at skabe et bæredygtigt internet med løsninger, der gør en forskel.",
          "url": "https://sustainablewww.dk/om-os"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero SWWW_Hero--ContentMaxWidth">
                        <h1 class="SWWW_H1">Om os</h1>
                        <p class="SWWW_P SWWW_Ingress">Vi er dedikerede til at hjælpe dig med at opbygge en bæredygtig, hurtig og inkluderende digital tilstedeværelse – for en grønnere fremtid.</p>
                        <p class="SWWW_P SWWW_Ingress">For os er det afgørende, at dine mål er i centrum, og at du får et produkt, du kan være stolt af – samtidig med at vi gør internettet til en bæredygtig del af vores fælles fremtid.</p>
                        <a href="/services" class="SWWW_Button">Vores services</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Vores mission og vision</h2>
                            <p class="SWWW_P">Sustainable WWW blev grundlagt i 2021 af Max og Michael med en klar mission – at reducere internettets miljøpåvirkning. Det hele begyndte som en blog, hvor de delte deres forskning og praktiske råd om, hvordan webudvikling kunne blive mere bæredygtig.</p>
                            <p class="SWWW_P">Bloggen voksede hurtigt og inspirerede webudviklere verden over, hvilket førte til, at Sustainable WWW i dag er blevet en international virksomhed, der hjælper kunder i Sverige, Danmark, Norge og flere engelsktalende lande med at skabe bæredygtige hjemmesider. Vores mission er fortsat den samme – at gøre internettet mere optimeret, bæredygtigt og inkluderende for en bedre fremtid.</p>
                            <p class="SWWW_P">Vi sikrer, at dine hjemmesider og webapplikationer opfylder dine mål og krav, samtidig med at de har en positiv indvirkning på miljøet og din digitale tilstedeværelse.</p>
                        </div>
                        <div>
                            <h2 class="SWWW_H2">Vores rejse</h2>
                            <ul class="SWWW_InfoList SWWW_InfoList--NoDash SWWW_InfoList--MaxWidth900">
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2021:</strong> Sustainable WWW blev grundlagt af Max og Michael med fokus på bæredygtige webpraksisser, som blev hostet på GitHub som et open source-bibliotek for bæredygtige webmetoder og bevaret i Arctic Vault for kommende generationer.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2022:</strong> Projektet udviklede sig til podcast-optrædener, der inspirerede hundredvis af udviklere og organisationer til at reducere miljøpåvirkningen fra deres hjemmesider og webapplikationer.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2023:</strong> Vi lancerede vores første services med fokus på webdesign og optimering og etablerede partnerskaber med skandinaviske virksomheder for at skabe bæredygtige webløsninger.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>I dag:</strong> Sustainable WWW er en international virksomhed, der fortsætter med at lede vejen mod et grønnere internet og tilbyder tjenester som webdesign, webudvikling, analyse og optimering samt grøn hosting.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Mød grundlæggerne</h2>
                    <ul class="SWWW_ContactList">
                        <li>
                            <picture>
                                <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Michael Andersen" loading="lazy" />
                            </picture>
                            <h3 class="SWWW_H3">Michael Andersen</h3>
                            <p class="SWWW_ContactList_Title">Grundlægger, Webudvikler og Forfatter</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Michael grundlagde Sustainable WWW for at dele sin viden om, hvordan internettet kan blive mere bæredygtigt. Med over et årti af erfaring inden for webudvikling skrev han bogen "<a href="/sustainable-web-design-in-20-lessons" target="_blank">Sustainable Web Design In 20 Lessons</a>" og brænder dybt for både natur og teknologi. Hans arbejde er dedikeret til at forme en grønnere digital fremtid.</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Max Wallberg" loading="lazy" />
                            </picture>
                            <h3 class="SWWW_H3">Max Wallberg</h3>
                            <p class="SWWW_ContactList_Title">Medstifter, Salg</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Max er en lidenskabelig fortaler for bæredygtighed i alle livets aspekter. Med omfattende erfaring inden for salg spillede han en nøglerolle i at omdanne Sustainable WWW til en virksomhed, der skaber bæredygtige hjemmesider for virksomheder verden over.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>