<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Om os | Vores mission for et bæredygtigt internet - Sustainable WWW",
        page_description: "Læs historien om Sustainable WWW – fra blog til international virksomhed. Vores mission er at skabe et bæredygtigt internet med løsninger, der gør en forskel.",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/om-os",
        page_keywords: "Bæredygtige hjemmesider",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Om os | Vores mission for et bæredygtigt internet - Sustainable WWW",
          "description": "Læs historien om Sustainable WWW – fra blog til international virksomhed. Vores mission er at skabe et bæredygtigt internet med løsninger, der gør en forskel.",
          "url": "https://sustainablewww.dk/om-os",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero SWWW_Hero--ContentMaxWidth">
                        <h1 class="SWWW_H1">Sammen med jer skaber vi <span class="SWW_Effect--Underline">fremtidens</span> internet</h1>
                        <p class="SWWW_P SWWW_Ingress P--MarginBottom80">For os er det vigtigt, at dine ønsker er i centrum, og at du får et produkt, du kan være stolt af – samtidig med at vi gør internettet til en bæredygtig del af vores fælles fremtid.</p>
                    </div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <p class="SWWW_P">Sustainable WWW blev grundlagt i 2021 af Michael Andersen med en klar mission – at reducere internettets miljøaftryk. Det hele begyndte som en blog, hvor Michael delte sin research og konkrete råd om, hvordan webudvikling kunne gøres mere bæredygtig. Bloggen voksede hurtigt, og snart fulgte et nyhedsbrev, podcast-optrædener og udgivelsen af bogen <a href="/dk/sustainable-web-design-in-20-lessons">Sustainable Web Design in 20 Lessons</a>.</p>
                            <p>I 2023 tog projektet et stort skridt fremad med lanceringen af Wiki – et open-source bibliotek af bæredygtige webmetoder, hostet på GitHub og bevaret i Arctic Vault for fremtidige generationer.</p>
                        </div>
                        <div>
                            <p class="SWWW_P">I dag er Sustainable WWW en international virksomhed, der hjælper kunder i Sverige, Danmark, Norge og flere engelsktalende lande med at skabe bæredygtige hjemmesider. Vores mission er fortsat den samme – at gøre internettet mere optimeret og holdbart i tråd med de globale mål for en bæredygtig fremtid. Samtidig sikrer vi, at dine hjemmesider og webapplikationer lever op til dine mål og krav.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Mød grundlæggerne</h2>
                    <ul class="SWWW_ContactList">
                        <li>
                            <picture>
                                <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Michael Andersen" loading="lazy" />
                            </picture>
                            <h3 class="SWWW_H3">Michael Andersen</h3>
                            <p class="SWWW_ContactList_Title">Grundlægger, Webudvikler, og forfatter</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Michael grundlagde Sustainable WWW for at dele sin viden om, hvordan internettet kan blive mere bæredygtigt. Han har over 10 års erfaring med webudvikling og har skrevet bogen Sustainable Web Design In 20 Lessons. Med en dyb passion for naturen og teknologi arbejder han målrettet på at skabe en grønnere digital fremtid.</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Portræt af Max Wallberg" loading="lazy" />
                            </picture>
                            <h3 class="SWWW_H3">Max Wallberg</h3>
                            <p class="SWWW_ContactList_Title">Grundlægger, Salg</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Max er en passioneret fortaler for bæredygtighed på alle områder af livet. Med mange års erfaring indenfor salg, var han med til at omdanne Sustainable WWW til en succesfuld virksomhed, der skaber bæredygtige hjemmesider for virksomheder.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>