<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Vores services - Sustainable WWW",
        page_description: "Bæredygtigt webdesign, udvikling og analyse. Vi skaber hurtige, energieffektive hjemmesider, der reducerer CO₂-aftryk og optimerer brugeroplevelsen.",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services",
        page_keywords: "Sustainable WWW Services",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Vores services - Sustainable WWW",
          "description": "Bæredygtigt webdesign, udvikling og analyse. Vi skaber hurtige, energieffektive hjemmesider, der reducerer CO₂-aftryk og optimerer brugeroplevelsen.",
          "url": "https://sustainablewww.dk/services"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Vores <span class="SWW_Effect--Underline">services</span></h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vi skaber bæredygtige, hurtige og effektive webløsninger for en grønnere fremtid.</p>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Kernen i vores virksomhed er digital bæredygtighed. Vores services er dedikeret til at fremme et grønnere, mere inkluderende og fremtidssikret internet.</p>
                        <a href="/kontakt" class="SWWW_Button">Kontakt os</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Webdesign</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Vi skaber bæredygtige og ultrahurtige hjemmesider, der reducerer omkostninger, øger konverteringer og styrker dit brand. Vores løsninger er mere end 60% lettere, hurtigere og mere effektive end branchens standarder – de leverer bedre brugeroplevelser og et mindre CO₂-aftryk.</p>
                            <a href="/services/webdesign" target="_self" class="SWWW_Button">Læs mere om webdesign</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Webudvikling</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Vi udvikler avancerede webløsninger, herunder interaktive dashboards, tilpassede intranet og kritiske webapplikationer. Ved hjælp af teknologier som React, Express.js og Node.js bygger vi intelligente, brugervenlige systemer, der optimerer arbejdsgange og forbedrer den digitale oplevelse – bæredygtigt og effektivt.</p>
                            <a href="/services/webudvikling" target="_self" class="SWWW_Button">Læs mere om webudvikling</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Analyse og optimering</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Få indsigt i din hjemmesides ydeevne, bæredygtighed og effektivitet. Vi analyserer hastighed, CO₂-aftryk og brugeroplevelse og leverer en rapport med konkrete optimeringsanbefalinger. Vi kan også hjælpe dig med at forbedre din hjemmeside, så den bliver hurtigere, lettere og mere bæredygtig – til fordel for både din virksomhed og miljøet.</p>
                            <a href="/services/analyse-og-optimering" target="_self" class="SWWW_Button">Læs mere om analyse og optimering</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Hosting</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Vi tilbyder grøn hosting i Sverige, drevet af 100% vedvarende energi, samt omkostningseffektive Raspberry Pi-løsninger til mindre projekter. Vores bæredygtige hosting reducerer dit CO₂-aftryk, optimerer ydeevnen og beskytter din hjemmeside – alt imens overskudsvarme genbruges til en endnu grønnere løsning.</p>
                            <a href="/services/hosting" target="_self" class="SWWW_Button">Læs mere om hosting</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3 SWWW_DoubleMarginBottom">Ofte stillede spørgsmål om vores tjenester</h3>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Hvorfor skal jeg vælge en bæredygtig hjemmeside til min virksomhed?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">En bæredygtig hjemmeside gavner både miljøet og din virksomhed:</p>
                                    <ul class="SWWW_CheckList">
                                        <li>
                                            <p class="SWWW_P"><strong>Miljøvenlig:</strong> Reducerer CO₂-udledninger gennem lavere energiforbrug.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Omkostningsbesparelser:</strong> Effektiv kodning og optimerede løsninger sænker hostingomkostninger og forbedrer indlæsningstider.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Styrker dit brand:</strong> Viser dit engagement i bæredygtighed.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Fremtidssikring:</strong> Forbereder din virksomhed på kommende krav til digital bæredygtighed.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Konkurrencefordel:</strong> Tiltrækker miljøbevidste kunder.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Kan I gøre min eksisterende hjemmeside mere bæredygtig?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja, vi kan analysere din eksisterende hjemmeside og identificere forbedringsområder for at reducere dens miljøpåvirkning. <a href="/kontakt">Kontakt os</a> for en gratis konsultation!</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Tilbyder I support og vedligeholdelse efter hjemmesiden er lanceret?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja, vi tilbyder løbende support og vedligeholdelse for at sikre, at din hjemmeside fungerer optimalt selv efter lanceringen. Vi ønsker, at du føler dig tryg ved din online tilstedeværelse.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Tilbyder I træning i at administrere og opdatere hjemmesideindhold?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja, vi tilbyder support og træning, så du nemt kan administrere din hjemmeside eller webløsning.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Hvad koster det at udvikle en bæredygtig hjemmeside?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Omkostningerne varierer afhængigt af projektets omfang og kompleksitet. Bæredygtige løsninger er ofte mere omkostningseffektive i det lange løb takket være reduceret energiforbrug og lavere hostingomkostninger. <a href="/kontakt">Kontakt os</a> for et tilpasset tilbud!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>