<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Sustainable web design in 20 lessons (Engelsk) - Sustainable WWW",
        page_description: "Lær at skabe hurtige og bæredygtige hjemmesider med 20 lektioner baseret på 10+ års erfaring. 300+ sider fyldt med indsigt, værktøjer og strategier.",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/sustainable-web-design-in-20-lessons",
        page_keywords: "Sustainable Web Design In 20 Lessons, Sustainable web design book, Sustainable web development book, Bog om bæredygtigt web design, hvordan skaber man klimavenlige hjemmesider",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Sustainable web design in 20 lessons (Engelsk) - Sustainable WWW",
          "description": "Lær at skabe hurtige og bæredygtige hjemmesider med 20 lektioner baseret på 10+ års erfaring. 300+ sider fyldt med indsigt, værktøjer og strategier.",
          "url": "https://sustainablewww.dk/sustainable-web-design-in-20-lessons"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_H1--BookTitle">Sustainable Web Design In 20 Lessons</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Praktisk guide til hurtigere, mere effektive og bæredygtige hjemmesider – baseret på 10+ års erfaring i branchen.</p>
                        <a href="https://www.amazon.com/Sustainable-Web-Design-20-Lessons-ebook/dp/B0BS1NRNPF" target="_blank" class="SWWW_Button" rel="nofollow noopener noreferrer">Køb bogen nu</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H3">Bogbeskrivelse</h2>
                            <p class="SWWW_P">Vidste du, at internettet i dag er en af verdens største miljøbelastninger? Med 4 % af de globale drivhusgasemissioner – dobbelt så meget som luftfartssektoren – er det en usynlig forureningskilde, der kun vokser. Hvis udviklingen fortsætter, kan internettets klimaaftryk snart overgå selv verdens største nationer, bortset fra Kina, Indien og USA.</p>
                            <p class="SWWW_P">Men der er en løsning.</p>
                            <p class="SWWW_P">I takt med at vi arbejder mod en net-zero fremtid inden 2050, er det afgørende at reducere internettets CO₂-aftryk. Problemet? Hjemmesider og digitale produkter bliver tungere og mere ressourcekrævende, drevet af hurtigere internetforbindelser og kraftigere hardware. Løsningen? <strong>Bæredygtigt webdesign</strong>.</p>
                            <p class="SWWW_P"><strong>Sustainable Web Design In 20 Lessons</strong> er din guide til at bygge effektive, miljøvenlige hjemmesider – uden at gå på kompromis med design eller funktionalitet. På 300+ sider deler Michael over et årtis praktisk erfaring og giver dig de værktøjer, du behøver for at gøre en reel forskel.</p>
                        </div>
                        <div>
                            <picture>
                                <source type="image/webp" srcset="/Images/Sustainable-Web-Design-In-20-Lessons-Wide-Gumroad-Cover-Mobile-Without-Preview-webp.webp" />
                                <img src="/Images/Sustainable-Web-Design-In-20-Lessons-Wide-Gumroad-Cover-Mobile-Without-Preview.jpg" alt="Et billede af forsiden af bogen Sustainable Web Design In 20 Lessons" loading="lazy" />
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Udtalelser</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Se hvad brancheeksperterne siger om bogen, og hvorfor den er et vigtigt skridt mod et mere bæredygtigt internet.</p>
                    <div class="SWWW_Quote">
                        <div class="SWWW_Quote_Image">
                            <picture>
                                <source type="image/webp" srcset="/Images/tom-greenwood-webp.webp" />
                                <img class="SWWW_Effect--NoHighlight" src="/Images/tom-greenwood.jpg" alt="Tom Greenwood (Author of the book Sustainable Web Design)" loading="lazy" />
                            </picture>
                            <p class="SWWW_Quote_Person">Tom Greenwood</p>
                            <p class="SWWW_Quote_Occupation">Author of Sustainable Web Design</p>
                        </div>
                        <div class="SWWW_Quote_Text">
                            <p class="SWWW_P">Michael Andersen is the creator is the online resource and organisation Sustainable WWW, raising awareness and teaching how to create a more sustainable web. As part of this mission, he has recently published this book on the same topic, sharing the lessons that he has learned in recent years. As the title suggests, it’s full of practical tips on how to take action in your web design projects to reduce their environmental impact.</p>
                            <p class="SWWW_P">Drawing inspiration from a range of sources, the 20 lessons covered include minimalist design, page weight budgeting, HTML, CSS and JS optimisation, as well as lessons on green API’s, email newsletters, accessibility and much more.</p>
                            <p class="SWWW_P">Andersen’s ’20 lessons’ format offers an easy to follow, practical application of the research and best practices on sustainable web design. <strong>If you’re after an in-depth ‘how to guide, then this format may be just what you’re looking for.</strong></p>
                        </div>
                    </div>
                    <div class="SWWW_Quote">
                        <div class="SWWW_Quote_Image">
                            <picture>
                                <source type="image/webp" srcset="/Images/Ismael-Velasco-webp.webp" />
                                <img class="SWWW_Effect--NoHighlight" src="/Images/Ismael-Velasco.jpg" alt="Ismael Velasco " loading="lazy" />
                            </picture>
                            <p class="SWWW_Quote_Person">Ismael Velasco</p>
                            <p class="SWWW_Quote_Occupation">W3C's Sustainable Web Design Group</p>
                        </div>
                        <div class="SWWW_Quote_Text">
                            <p class="SWWW_P">If you’re a climate-conscious but busy web developer wanting to green your practice, Sustainable Web Design in 20 Lessons by Michael Andersen is your ideal starting point. Your day-to-day web development practice can be an impactful climate action: this book will help you make it so.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>