<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtigt webdesign | Vi bygger et fremtidssikkert internet - Sustainable WWW",
        page_description: "Bæredygtige hjemmesider, der sparer energi, reducerer CO2 og øger hastigheden. Gør din virksomhed grønnere i dag – kontakt os for detaljer!",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services/webdesign",
        page_keywords: "Sustainable WWW Bæredygtige Hjemmesider, Bæredygtige hjemmesider, bæredygtigt webdesign",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtigt webdesign | Vi bygger et fremtidssikkert internet - Sustainable WWW",
          "description": "Bæredygtige hjemmesider, der sparer energi, reducerer CO2 og øger hastigheden. Gør din virksomhed grønnere i dag – kontakt os for detaljer!",
          "url": "https://sustainablewww.dk/services/webdesign
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Hurtige, Stilfulde og Miljøvenlige Hjemmesider</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Træt af langsomme hjemmesider, der koster en formue og skader miljøet?</p>
                        <p class="SWWW_P P--MaxWidth900 P--MarginBottom10">Investér i en hjemmeside, der er:</p>
                        <ul class="SWWW_CheckList">
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Lynhurtig:</strong> Vi optimerer hver eneste detalje for at give dine besøgende en førsteklasses oplevelse.</p>
                            </li>
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Stilfuld:</strong> Vi designer hjemmesider, der afspejler dit brand og engagerer dine kunder.</p>
                            </li>
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Bæredygtig:</strong> Vi reducerer din klimabelastning og viser, at du tager ansvar for miljøet.</p>
                            </li>
                        </ul>
                        <a href="mailto:info@sustainablewww.org">
                            <strong>Kontakt os i dag for en gratis konsultation!</strong>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Derfor skal du vælge os!</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Vi ved, at du har mange valgmuligheder, når du skal vælge et webbureau. Her er nogle grunde til, hvorfor Sustainable WWW er det rette valg for dig:</p>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/moneypig.svg" alt="Vektor af penge" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Sænk dine omkostninger:</h3>
                                <p class="SWWW_P">Vores optimerede hjemmesider kræver mindre serverkraft og reducerer dine hostingomkostninger.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Vektor af en graf" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Rangér højere på Google:</h3>
                                <p class="SWWW_P">Hurtige og brugervenlige hjemmesider belønnes af Google, hvilket giver dig mere trafik og flere kunder.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/trophy.svg" alt="Vektor af et tandhjul" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Styrk dit brand:</h3>
                                <p class="SWWW_P">Vis dine kunder, at du tager miljøet alvorligt, og tiltræk en voksende gruppe af miljøbevidste forbrugere.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Vektor af hænder, der holder hinanden" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Fokus på tilgængelighed:</h3>
                                <p class="SWWW_P">Vores hjemmesider er tilpasset til alle, uanset handicap eller teknisk kunnen.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Vektor af et skjold" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Beskyt din virksomhed:</h3>
                                <p class="SWWW_P">Vi bygger sikre hjemmesider, der modstår angreb og beskytter dine data.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Hvad betyder bæredygtigt webdesign i praksis?</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Mange webbureauer taler om design og funktioner, men vi går et skridt videre. Vi tænker på det store billede og optimerer din hjemmeside for:</p>
                    <ul class="SWWW_InfoList SWWW_InfoList--MaxWidth900">
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Minimalt CO₂-aftryk:</strong> Vi vælger grøn hosting og minimerer datatransfer.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Maksimal ydeevne:</strong> Vi bruger den nyeste teknologi og optimerer koden for hurtigst mulige indlæsningstider.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Langsigtet bæredygtighed:</strong> Vi bygger hjemmesider, der er nemme at vedligeholde og opdatere, hvilket reducerer behovet for dyre redesigns i fremtiden.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Cases</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot af Skydive Sweden's startside" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webdesign og problemløsning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot af to af Kompetencekilden.dk's sider" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Tandemhopp.se startpage screenshot" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3">Ofte stillede spørgsmål</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du spørgsmål om vores tjenester eller det, vi laver? Her finder du svar på nogle af de mest almindelige spørgsmål.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Er bæredygtigt webdesign dyrere?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ikke nødvendigvis. Selvom den indledende investering kan være lidt højere, sparer du penge på længere sigt gennem lavere hostingomkostninger og øget trafik.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilke teknologier bruger I?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi er eksperter i moderne teknologier som Node.js, React, Svelte og andre værktøjer, der hjælper os med at bygge hurtige og effektive hjemmesider.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan I tilpasse designet til mine behov?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Absolut! Vi skaber skræddersyede hjemmesider, der afspejler din brandidentitet og opfylder dine specifikke mål.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2">Klar til at tage det næste skridt?</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Kontakt os i dag for en gratis konsultation! Vi drøfter dine behov og viser dig, hvordan vi kan hjælpe dig med at skabe en hjemmeside, der både gavner din forretning og miljøet.</p>
                    <a href="/kontakt" class="SWWW_Button">Kontakt os</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>