<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtigt webdesign | Vi bygger et fremtidssikkert internet - Sustainable WWW",
        page_description: "Bæredygtige hjemmesider, der sparer energi, reducerer CO2 og øger hastigheden. Gør din virksomhed grønnere i dag – kontakt os for detaljer!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services/webdesign",
        page_keywords: "Sustainable WWW Bæredygtige Hjemmesider, Bæredygtige hjemmesider, bæredygtigt webdesign",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtigt webdesign | Vi bygger et fremtidssikkert internet - Sustainable WWW",
          "description": "Bæredygtige hjemmesider, der sparer energi, reducerer CO2 og øger hastigheden. Gør din virksomhed grønnere i dag – kontakt os for detaljer!",
          "url": "https://sustainablewww.dk/services/webdesign,
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Bæredygtigt webdesign</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vi skaber lynhurtige, bæredygtige hjemmesider, der reducerer omkostninger, forbedrer brugeroplevelsen og styrker din virksomheds grønne profil. Over 60% lettere end standarden!</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Kontakt os idag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Hvorfor vælge os?</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globus vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Low-carbon</h3>
                                <p class="SWWW_P">Vores hjemmesider er optimeret til minimal CO2-udledning, hurtigere ydeevne og lavere driftsomkostninger – en smart investering i bæredygtighed.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Lommeregner vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Lettere & hurtigere</h3>
                                <p class="SWWW_P">Vores hjemmesider er over 60 % lettere end industristandarden, hvilket sikrer lynhurtige indlæsningstider og en bedre brugeroplevelse på alle enheder.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/cogwheel.svg" alt="Lommeregner vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Skræddersyet</h3>
                                <p class="SWWW_P">Vi designer hjemmesider efter dine unikke behov, så du får en optimeret, hurtig og let-vedligeholdelig løsning, der styrker din forretning.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Holder hinanden i hånden vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Tilgængelighed</h3>
                                <p class="SWWW_P">Vi sikrer, at alle kan bruge din hjemmeside – uanset evner. Vores løsninger er designet med fokus på inklusion, brugervenlighed og værdi for alle.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Skjold vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Sikkerhed</h3>
                                <p class="SWWW_P">Vores hjemmesider er bygget til at modstå trusler som DDoS-angreb og ondsindede bots, så din virksomhed forbliver stabil og beskyttet.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Graf vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">SEO-venlig</h3>
                                <p class="SWWW_P">Vi bruger avanceret teknologi og metoder til at optimere din hjemmesides SEO, hvilket hjælper dit produkt med at nå højere placeringer i søgeresultaterne.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Cases</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/dk/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot af Skydive Sweden's startside" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webdesign og problemløsning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dk/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot af to af Kompetencekilden.dk's sider" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/dk/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Tandemhopp.se startpage screenshot" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <h3 class="SWWW_H3">Ofte stillede spørgsmål</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du spørgsmål om vores tjenester eller hvad vi gør? Her finder du svar på nogle af de mest stillede spørgsmål.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilke teknologier arbejder I med?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi arbejder med moderne teknologier som Node.js, Express.js, MongoDB, EJS, React, Svelte, Rust og Strapi. For hjemmesider starter vi altid med statisk indhold og bygger dynamisk indhold til, hvis det er nødvendigt. Denne tilgang sikrer den sikreste og hurtigste løsning for dig.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Udvikler I skræddersyede løsninger?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi udvikler skræddersyede løsninger, der er tilpasset dine mål og krav. Vi starter normalt med statisk indhold og bygger dynamisk indhold til, hvis det er nødvendigt, for at sikre den bedst mulige løsning.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Koster en bæredygtig hjemmeside mere?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Det er en misforståelse, at bæredygtige hjemmesider er dyrere. Selvom den initiale investering kan være lidt højere, fører de langsigtede besparelser til lavere hostingomkostninger, forbedret ydeevne, færre vedligeholdelsesomkostninger og en længere levetid. Bæredygtigt webdesign optimerer både energi og kode, hvilket giver både økonomiske fordele og en grønnere løsning.</p>
                            <p class="SWWW_P P--MaxWidth900">Derfor kan vi fortælle at en bæredygtig løsning vil spare dig penge i det lange løb.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>