<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtig webudvikling | Vi bygger et fremtidssikkert internet - Sustainable WWW",
        page_description: "Bæredygtig webudvikling, der sparer energi, forbedrer hastigheden og styrker dit brand. Byg en grønnere fremtid med os. Klik for at lære mere!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services/webudvikling",
        page_keywords: "Sustainable WWW Bæredygtige løsninger, Bæredygtige webudvikling, bæredygtige webapplikationer",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtig webudvikling | Vi bygger et fremtidssikkert internet - Sustainable WWW",
          "description": "Bæredygtig webudvikling, der sparer energi, forbedrer hastigheden og styrker dit brand. Byg en grønnere fremtid med os. Klik for at lære mere!",
          "url": "https://sustainablewww.dk/services/webudvikling,
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Bæredygtig webudvikling</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vi leverer bæredygtige webløsninger, der både reducerer omkostninger og forbedrer hastigheden. Vores skræddersyede designs er lette at vedligeholde og bygger på effektiv kode og avanceret teknologi, der understøtter din virksomheds vækst og grønne profil.</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Kontakt os idag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Hvad vi kan hjælpe dig med</h2>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h3 class="SWWW_H3">Webapplikationer</h3>
                            <p class="SWWW_P">Vi specialiserer os i brugerdefinerede webapplikationer med React og Svelte, tilpasset dine unikke behov. Vores løsninger kombinerer hastighed, effektivitet og bæredygtighed, og sikrer høj ydeevne, samtidig med at vi understøtter din virksomheds grønne mål.</p>
                        </div>
                        <div>
                            <h3 class="SWWW_H3">Skræddersyede systemer</h3>
                            <p class="SWWW_P">Vi specialiserer os i at udvikle skræddersyede systemer, der integrerer både front-end og back-end funktioner, tilpasset dine specifikke behov. Uanset om du har brug for et nyt, skalerbart system eller en problemfri integration med dit eksisterende, leverer vi løsninger, der skaber værdi for din virksomhed.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Hvorfor vælge os?</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globus vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Low-carbon</h3>
                                <p class="SWWW_P">Vores hjemmesider er optimeret til minimal CO2-udledning, hurtigere ydeevne og lavere driftsomkostninger – en smart investering i bæredygtighed.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Lommeregner vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Letter & hurtigere</h3>
                                <p class="SWWW_P">Vores hjemmesider er over 60 % lettere end industristandarden, hvilket sikrer lynhurtige indlæsningstider og en bedre brugeroplevelse på alle enheder.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/cogwheel.svg" alt="Lommeregner vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Skræddersyet</h3>
                                <p class="SWWW_P">Vi designer hjemmesider efter dine unikke behov, så du får en optimeret, hurtig og let-vedligeholdelig løsning, der styrker din forretning.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Holder hinanden i hånden vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Tilgængelighed</h3>
                                <p class="SWWW_P">Vi sikrer, at alle kan bruge din hjemmeside – uanset evner. Vores løsninger er designet med fokus på inklusion, brugervenlighed og værdi for alle.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Skjold vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Sikkerhed</h3>
                                <p class="SWWW_P">Vores hjemmesider er bygget til at modstå trusler som DDoS-angreb og ondsindede bots, så din virksomhed forbliver stabil og beskyttet.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Graf vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">SEO-venlig</h3>
                                <p class="SWWW_P">Vi bruger avanceret teknologi og metoder til at optimere din hjemmesides SEO, hvilket hjælper dit produkt med at nå højere placeringer i søgeresultaterne.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Cases</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot af Skydive Sweden's startside" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webdesign og problemløsning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot af to af Kompetencekilden.dk's sider" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Tandemhopp.se startpage screenshot" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <h3 class="SWWW_H3">Ofte stillede spørgsmål</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du spørgsmål om vores tjenester eller hvad vi gør? Her finder du svar på nogle af de mest stillede spørgsmål.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilke teknologier arbejder I med?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi arbejder med moderne teknologier som Node.js, Express.js, MongoDB, EJS, React, Svelte, Rust og Strapi. For hjemmesider starter vi altid med statisk indhold og bygger dynamisk indhold til, hvis det er nødvendigt. Denne tilgang sikrer den sikreste og hurtigste løsning for dig.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan I integrere nye systemer med vores eksisterende infrastruktur?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi har erfaring med at integrere nye løsninger med din nuværende infrastruktur. Under vores indledende møde vurderer vi, hvordan vi bedst kan tilpasse systemet til at arbejde sømløst sammen med dine eksisterende værktøjer og processer.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvordan håndterer I skalerbarhed for fremtidig vækst?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi bygger systemer med skalerbarhed for øje, så de kan tilpasses din virksomheds vækst over tid. Vores løsninger er fleksible og kan udvides, når dine behov ændrer sig, så du kan fortsætte med at vokse uden at skulle revidere hele systemet.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvad er den typiske tidslinje for udvikling af et skræddersyet system?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Tidslinjen afhænger af projektets kompleksitet og funktioner. Vi arbejder tæt sammen med dig for at definere en realistisk tidsramme og sikre, at projektet leveres til tiden, samtidig med at vi opretholder høj kvalitet og tilpasser os dine specifikke krav.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilken form for support yder I, efter at systemet er implementeret?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi tilbyder løbende support og vedligeholdelse, så du kan være sikker på, at dit system altid fungerer optimalt. Uanset om du har brug for hjælp til funktioner eller ønsker at tilføje nye, er vi tilgængelige for at sikre, at din virksomhed kører problemfrit.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvor meget koster et skræddersyet udviklingsprojekt typisk?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi tilbyder både fast pris og timepris. Fast pris giver dig sikkerhed for de samlede omkostninger, mens timepris giver fleksibilitet, hvis projektets omfang ændres undervejs. Vi giver dig en præcis pris efter at have gennemgået dine krav og projektets kompleksitet.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Tilbyder I hosting?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi tilbyder hostingtjenester gennem en svensk leverandør, der bruger 100% vedvarende energi. Deres servere genererer varme, som genbruges til fjernvarme i en nærliggende by, hvilket gør din løsning både effektiv og miljøvenlig. Du kan læse mere om vores hosting <a href="/services/hosting" target="_self">her</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>