<!DOCTYPE html>
<html lang="da-DK">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Bæredygtig webudvikling | Vi bygger et fremtidssikkert internet - Sustainable WWW",
        page_description: "Bæredygtig webudvikling, der sparer energi, forbedrer hastigheden og styrker dit brand. Byg en grønnere fremtid med os. Klik for at lære mere!",
        page_url: "https://sustainablewww.dk",
        page_full_url: "https://sustainablewww.dk/services/webudvikling",
        page_keywords: "Sustainable WWW Bæredygtige løsninger, Bæredygtige webudvikling, bæredygtige webapplikationer",
        page_author: "Sustainable WWW",
        page_locale: "da-DK"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Bæredygtig webudvikling | Vi bygger et fremtidssikkert internet - Sustainable WWW",
          "description": "Bæredygtig webudvikling, der sparer energi, forbedrer hastigheden og styrker dit brand. Byg en grønnere fremtid med os. Klik for at lære mere!",
          "url": "https://sustainablewww.dk/services/webudvikling,
          "mainEntity": {
            "@type": "FAQPage",
            "mainEntity": [
              {
                "@type": "Question",
                "name": "Hvilke teknologier bruger I?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Vi er eksperter i moderne værktøjer som Node.js, Express.js, MongoDB, React, Svelte, Rust og Strapi – alle valgt for at maksimere ydeevne og bæredygtighed."
                }
              },
              {
                "@type": "Question",
                "name": "Kan I integrere med min eksisterende infrastruktur?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Ja, vi har omfattende erfaring med at integrere nye systemer med eksisterende løsninger for en problemfri overgang."
                }
              },
              {
                "@type": "Question",
                "name": "Hvordan sikrer I skalerbarhed?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Vi designer systemer, der er fleksible og kan vokse med din virksomhed, uanset hvor hurtigt du udvider."
                }
              },
              {
                "@type": "Question",
                "name": "Hvor lang tid tager det at udvikle en hjemmeside?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Tidsrammen afhænger af projektets kompleksitet, men vi arbejder effektivt for at levere til tiden og inden for budgettet."
                }
              },
              {
                "@type": "Question",
                "name": "Hvilken type support tilbyder I?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Vi tilbyder løbende support og vedligeholdelse for at sikre, at din hjemmeside yder optimalt over tid."
                }
              },
              {
                "@type": "Question",
                "name": "Hvad koster det?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Vi tilbyder både faste priser og timepriser. Kontakt os for et personligt tilbud!"
                }
              },
              {
                "@type": "Question",
                "name": "Tilbyder I webhosting?",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "Ja, vi tilbyder grøn webhosting gennem en svensk udbyder, der drives af 100% vedvarende energi."
                }
              }
            ]
          }
        }
    </script>
    <%- include('../Partials/DK/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Bæredygtig webudvikling</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Invester i en skræddersyet løsning, der er:</p>
                        <ul class="SWWW_CheckList">
                            <li>
                                <p class="SWWW_P SWWW_Ingress P--MaxWidth900"><strong>Ultra-hurtig:</strong> Omhyggeligt optimeret for en overlegen besøgsoplevelse og bedre placeringer på Google.</p>
                            </li>
                            <li>
                                <p class="SWWW_P SWWW_Ingress P--MaxWidth900"><strong>Skræddersyet:</strong> Vi tilpasser vores tjenester til dine specifikke behov for at maksimere værdien for din virksomhed.</p>
                            </li>
                            <li>
                                <p class="SWWW_P SWWW_Ingress P--MaxWidth900"><strong>Bæredygtig:</strong> Designet til at reducere dit CO₂-aftryk og vise dit engagement i miljøet.</p>
                            </li>
                        </ul>
                        <a class="SWWW_Button" href="/kontakt">Kontakt os</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Hvorfor vælge Sustainable WWW til din webudvikling?</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globe vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Minimer dit CO₂-aftryk</h3>
                                <p class="SWWW_P">Vi bygger hjemmesider optimeret til minimalt energiforbrug og lave udledninger med grøn hosting.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Calculator vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Overlegen ydeevne</h3>
                                <p class="SWWW_P">Vores hjemmesider er mere end 60% lettere end branchestandarder, hvilket giver hurtigere indlæsningstider og en bedre brugeroplevelse.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/cogwheel.svg" alt="Cogwheel vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Skræddersyede løsninger</h3>
                                <p class="SWWW_P">Vi tilpasser vores tjenester til dine unikke behov og mål for at skabe maksimal værdi.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Hands vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Tilgængelighed</h3>
                                <p class="SWWW_P">Vi skaber hjemmesider, der er tilgængelige for alle, uanset fysiskt formåen eller tekniske færdigheder.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Shield vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Sikkerhed</h3>
                                <p class="SWWW_P">Vi beskytter din hjemmeside mod trusler og angreb for at sikre din online tilstedeværelse.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/megaphone.svg" alt="Megaphone vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Styrk dit brand</h3>
                                <p class="SWWW_P">Vis, at du bekymrer dig om miljøet og tiltræk miljøbevidste forbrugere – en voksende og loyal målgruppe.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Bæredygtig webudvikling i praksis</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/icon-1.svg" alt="Vector of the number 1" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Minimalt CO₂-aftryk</h3>
                                <p class="SWWW_P">Vi bruger grøn hosting og minimerer dataoverførsel for at reducere miljøpåvirkningen.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/icon-2.svg" alt="Vector of the number 2" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Maksimal ydeevne</h3>
                                <p class="SWWW_P">Vi udnytter moderne teknologier som Node.js, React og Svelte til lynhurtige indlæsningstider.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/icon-3.svg" alt="Vector of the number 3" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Langsigtet bæredygtighed</h3>
                                <p class="SWWW_P">Vi bygger skalerbare, let vedligeholdelige systemer, hvilket reducerer behovet for kostbare ombygninger i fremtiden.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Vores ekspertise</h2>
                    <ul class="SWWW_InfoList">
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Avanceret webudvikling</strong> – Vi bygger skræddersyede webapplikationer, dashboards og intranet ved hjælp af moderne teknologier.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Høj ydeevne & skalerbarhed</strong> – Optimerede løsninger med Cloudflare-caching for lynhurtige indlæsningstider.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Teknologisk ekspertise</strong> – Vi arbejder med React, Express.js, Node.js, TypeScript og EJS for maksimal fleksibilitet.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Integration & API-udvikling</strong> – Vi udvikler REST- og GraphQL-API'er, der forbinder dine systemer problemfrit.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Sikkerhed & stabilitet</strong> – Minimal afhængighed af tredjeparts-plugins sikrer robuste, vedligeholdelige løsninger.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Missionskritiske løsninger</strong> – Vi udvikler intranet, interne systemer og automatiserede processer, der øger produktiviteten.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Optimering & bæredygtighed</strong> – Effektiv kode, lavt energiforbrug og reducerede CO₂-udledninger uden at gå på kompromis med ydeevnen.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Ofte stillede spørgsmål om vores webudvikling</h2>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilke teknologier bruger I?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi er eksperter i moderne værktøjer som Node.js, Express.js, MongoDB, React, Svelte, Rust og Strapi – alle valgt for at maksimere ydeevne og bæredygtighed.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan I integrere med min eksisterende infrastruktur?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi har omfattende erfaring med at integrere nye systemer med eksisterende løsninger for en problemfri overgang.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvordan sikrer I skalerbarhed?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi designer systemer, der er fleksible og kan vokse med din virksomhed, uanset hvor hurtigt du udvider.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvor lang tid tager det at udvikle en hjemmeside?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Tidsrammen afhænger af projektets kompleksitet, men vi arbejder effektivt for at levere til tiden og inden for budgettet.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvilken type support tilbyder I?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi tilbyder løbende support og vedligeholdelse for at sikre, at din hjemmeside yder optimalt over tid.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hvad koster det?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi tilbyder både faste priser og timepriser. Kontakt os for et personligt tilbud!</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Tilbyder I webhosting?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi tilbyder grøn webhosting gennem en svensk udbyder, der drives af 100% vedvarende energi. <a href="/services/hosting">Læs mere om vores hosting</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_MaxWidth1200 SWWW_Balance">Bevist i praksis – Vores Casestudier</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Se, hvordan vi har hjulpet virksomheder med at bygge bæredygtige, højtydende hjemmesider.</p>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Screenshot af to af Skydive Swedens websider" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webudvikling og Ydeevneoptimering</p>
                            </a>
                        </li>
                        <li>
                            <a href="/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Screenshot af to af Kompetencekildens websider" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Skræddersyet hjemmeside</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/DK/Footer.ejs') %>
</body>
</html>