<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Artiklar - Sustainable WWW",
        page_description: "Upptäck hur du kan göra din webbutveckling mer klimatvänlig. Läs våra artiklar om hållbara lösningar och tips för att minska ditt koldioxidavtryck.",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/artiklar",
        page_keywords: "Sustainable WWW Artiklar, Sustainable WWW Blog, Hållbar webbdesign blogg, Hållbar webbutveckling artiklar, Klimatsmart webbdesign, Miljövänlig webbutveckling, Grön digitalisering, Energieffektiv webb, Webbutveckling med låg klimatpåverkan, Hållbar digital design, Resurssnål webbutveckling",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Artiklar - Sustainable WWW",
          "description": "Upptäck hur du kan göra din webbutveckling mer klimatvänlig. Läs våra artiklar om hållbara lösningar och tips för att minska ditt koldioxidavtryck.",
          "url": "https://sustainablewww.se/artiklar",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h1 class="SWWW_H1">Artiklar</h1>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Internet har ett överraskande stort klimatavtryck, men det finns sätt att minska det. I våra artiklar delar vi kunskap, forskning och praktiska tips för att göra webbutveckling mer klimatvänlig.</p>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/se/artiklar/hallbar-webbplats-ar-investeringen-vard" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Articles/Sustainable-WWW-Investering-I-Baeredygtig-Hjemmeside-Webp.webp" />
                                    <img src="/Images/Articles/Sustainable-WWW-Er-Din-Hjemmeside-En-Klimasynder.jpg" alt="Naturen i bakgrunden och två händer som kastar upp en jordglob i luften för att symbolisera harmoni med naturen och miljön." loading="lazy" />
                                </picture>
                                <h3>Hållbar webbplats är investeringen värd det</h3>
                                <p>Är en hållbar webbplats en bra investering? Få snabbare laddningstider, bättre SEO och lägre kostnader – samtidigt som du hjälper miljön.</p>
                            </a>
                        </li>
                        <li>
                            <a href="/se/artiklar/ar-din-webbplats-en-klimasyndare" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Articles/Sustainable-WWW-Er-Din-Hjemmeside-En-Klimasynder-WebP.webp" />
                                    <img src="/Images/Articles/Sustainable-WWW-Er-Din-Hjemmeside-En-Klimasynder.jpg" alt="Den vänstra sidan visar hur olje- och kolindustrin förorenar, medan den högra sidan visar den grönare sidan med användning av vindenergi." loading="lazy" />
                                </picture>
                                <h3>Is your company’s website a climate sinner?</h3>
                                <p>Företags digitala avtryck förbises ofta i en vardag där de aktivt övergår till grön energi och hållbara leverantörskedjor.</p>
                            </a>
                        </li>
                        <li>
                            <a href="/se/artiklar/hur-en-hallbar-webbplats-starker-ditt-varumarke" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Articles/SustainableWWW-Baeredygtig-Hjemmeside-Klimavenlig-WebP.webp" />
                                    <img src="/Images/Articles/Sustainable-WWW-Why-A-Sustainable-Website-Strenghtens-Your-Brand.jpg" alt="En laptop som står på ett räcke bredvid en kopp kaffe." loading="lazy" />
                                </picture>
                                <h3>Hur en hållbar webbplats stärker ditt varumärke</h3>
                                <p>Genom att integrera miljövänliga metoder i din digitala närvaro skickar du ett tydligt budskap om ansvar och framtidstänkande.</p>
                            </a>
                        </li>
                        <li>
                            <a href="/se/artiklar/varfor-ar-hallbara-webbplatser-framtiden" target="_self" class="Hover--Scale">
                                <picture>
                                    <img src="/Images/Articles/SustainableWWW-Baeredygtig-Hjemmeside-Klimavenlig.webp" alt="En ung man som sitter i naturen med sin laptop." loading="lazy" />
                                </picture>
                                <h3>Varför är hållbara webbplatser framtiden?</h3>
                                <p>Tänk om din webbplats inte bara kunde ge resultat för ditt företag utan också ha en positiv inverkan på miljön?</p>
                            </a>
                        </li>
                        <li>
                            <a href="/se/artiklar/vad-gor-en-webbplats-hallbar" target="_self" class="Hover--Scale">
                                <picture>
                                    <img src="/Images/Articles/SustainableWWW-Baeredygtigt-Webdesign-webudvikling.webp" alt="En dator på ett bord med stycken om hållbar webbutveckling skrivna runt den." loading="lazy" />
                                </picture>
                                <h3>Vad gör en webbplats hållbar?</h3>
                                <p>Visste du att internet släpper ut dubbelt så mycket CO2 som den globala flygindustrin? Webbplatser spelar en betydande roll i detta – men det går att förändra.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>