<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Hållbar och effektiv webbhosting för ditt företag – Välj grön energi eller Raspberry Pi-lösning",
        page_description: "Få pålitlig webbhosting med grön energi eller Raspberry Pi-lösning. Optimera prestanda och sänk kostnaderna för ditt företag.",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/tjanster/hosting",
        page_keywords: "Sustainable WWW web hosting, Raspberry Pi Web Hosting, Hållbar web hosting",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@graph": [
            {
              "@type": "WebPage",
              "name": "Hållbar och effektiv webbhosting för ditt företag – Välj grön energi eller Raspberry Pi-lösning",
              "description": "Få pålitlig webbhosting med grön energi eller Raspberry Pi-lösning. Optimera prestanda och sänk kostnaderna för ditt företag.",
              "url": "https://sustainablewww.se/tjanster/hosting"
            },
            {
              "@type": "FAQPage",
              "mainEntity": [
                {
                  "@type": "Question",
                  "name": "Vad innebär grön hosting?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Grön hosting drivs av 100 % förnybar energi, som vind- och solkraft, för att minska koldioxidutsläpp och miljöpåverkan."
                  }
                },
                {
                  "@type": "Question",
                  "name": "Är hållbar hosting dyrare?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Nej, våra lösningar är kostnadseffektiva och sparar pengar på lång sikt genom lägre energikostnader och optimerad prestanda."
                  }
                },
                {
                  "@type": "Question",
                  "name": "Fungerar det för alla webbplatser?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Ja, vår hållbara hosting passar alla typer av webbplatser, oavsett storlek, komplexitet eller projektstorlek."
                  }
                },
                {
                  "@type": "Question",
                  "name": "Kan jag byta hostingplan?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Ja, du kan enkelt byta hostingplan om dina behov ändras – vi erbjuder skalbara lösningar."
                  }
                },
                {
                  "@type": "Question",
                  "name": "Vilken typ av support erbjuder ni?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Vi erbjuder snabb och pålitlig support via telefon och e-post, samt kontinuerlig övervakning dygnet runt för att säkerställa optimal prestanda."
                  }
                },
                {
                  "@type": "Question",
                  "name": "Hur ser prisstrukturen ut?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Vår prisstruktur är baserad på standardpriser som justeras efter dina specifika behov. Kontakta oss för en offert!"
                  }
                }
              ]
            }
          ]
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Grön hosting för en snabbare och mer hållbar webbplats</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vill du ha en webbplats som är snabb, pålitlig och bra för miljön? På Sustainable WWW erbjuder vi grön hosting i Sverige, drivet av 100 % förnybar energi, samt kostnadseffektiva Raspberry Pi-lösningar för mindre projekt.</p>
                        <a href="/kontakt" class="SWWW_Button">Kontakta oss idag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Varför välja Sustainable WWW för hållbar hosting?</h2>
                    <ul class="SWWW_IconList SWWW_IconList--2-1">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Globe vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Minska ditt koldioxidavtryck</h3>
                                <p class="SWWW_P">Vår grön hosting använder 100 % förnybar energi och återvinner överskottsvärme för att minimera miljöpåverkan.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/time.svg" alt="Time vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Snabb och pålitlig prestanda</h3>
                                <p class="SWWW_P">Våra hostinglösningar är optimerade för blixtsnabba laddningstider och hög tillgänglighet.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Shield vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Säkerhet i världsklass</h3>
                                <p class="SWWW_P">Vi skyddar din webbplats mot hot och attacker med avancerade säkerhetsåtgärder och övervakning dygnet runt.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Calculator vector" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Spara pengar</h3>
                                <p class="SWWW_P">Kostnadseffektiva lösningar med lägre energikostnader och skalbarhet minskar dina driftskostnader över tid.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Hållbar hosting i praktiken</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/icon-1.svg" alt="Vektor av tallet 1" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Grön energi</h3>
                                <p class="SWWW_P">Vi drivs av 100 % förnybar energi, som vind- och solkraft, för att minska koldioxidutsläpp.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/icon-2.svg" alt="Vektor av tallet 2" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Energieffektivitet</h3>
                                <p class="SWWW_P">Våra servrar är optimerade för att minimera energiförbrukning, inklusive återvinning av överskottsvärme.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/icon-3.svg" alt="Vektor av tallet 3" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Långsiktig hållbarhet</h3>
                                <p class="SWWW_P">Vi erbjuder skalbara lösningar som anpassas efter dina behov och minskar framtida kostnader.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Vår kompetens</h2>
                    <ul class="SWWW_InfoList SWWW_InfoList--MaxWidth900">
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Grön hosting i Sverige</strong> – Vi hostar din webbplats i ett datacenter som använder 100 % förnybar energi och återvinner överskottsvärme för att värma lokala bostäder.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Hosting på Raspberry Pi</strong> – Vi erbjuder kostnadseffektiva och miljövänliga lösningar för mindre webbplatser med lågt resursbehov.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Hög prestanda & skalbarhet</strong> – Våra lösningar är optimerade för blixtsnabba laddningstider och kan skalas upp eller ner efter behov.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Säkerhet & stabilitet</strong> – Vi övervakar dina webbplatser dygnet runt och implementerar robusta säkerhetsåtgärder för att skydda mot hot.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Energieffektiva teknologier</strong> – Vi använder energieffektiva servrar och tekniker för att reducera miljöpåverkan och driftskostnader.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H2 SWWW_DoubleMarginBottom SWWW_MaxWidth1200 SWWW_Balance">Vanliga frågor om vår hållbar hosting</h3>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vad innebär grön hosting?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Grön hosting drivs av 100 % förnybar energi, som vind- och solkraft, för att minska koldioxidutsläpp och miljöpåverkan.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Är hållbar hosting dyrare?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 -960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Nej, våra lösningar är kostnadseffektiva och sparar pengar på lång sikt genom lägre energikostnader och optimerad prestanda.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Fungerar det för alla webbplatser?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vår hållbara hosting passar alla typer av webbplatser, oavsett storlek, komplexitet eller projektstorlek.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan jag byta hostingplan?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, du kan enkelt byta hostingplan om dina behov ändras – vi erbjuder skalbara lösningar.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vilken typ av support erbjuder ni?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi erbjuder snabb och pålitlig support via telefon och e-post, samt kontinuerlig övervakning dygnet runt för att säkerställa optimal prestanda.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hur ser prisstrukturen ut?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vår prisstruktur är baserad på standardpriser som justeras efter dina specifika behov. Kontakta oss för en offert!</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>