<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Hållbar och effektiv webbhosting för ditt företag – Välj grön energi eller Raspberry Pi-lösning",
        page_description: "Få pålitlig webbhosting med grön energi eller Raspberry Pi-lösning. Optimera prestanda och sänk kostnaderna för ditt företag.",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/tjanster/hosting",
        page_keywords: "Sustainable WWW web hosting, Raspberry Pi Web Hosting, Hållbar web hosting",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Hållbar och effektiv webbhosting för ditt företag – Välj grön energi eller Raspberry Pi-lösning",
          "description": "Få pålitlig webbhosting med grön energi eller Raspberry Pi-lösning. Optimera prestanda och sänk kostnaderna för ditt företag.",
          "url": "https://sustainablewww.se/tjanster/hosting
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Grön hosting för en snabbare och mer hållbar webbplats</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">På Sustainable WWW erbjuder vi grön hosting i Sverige som drivs av 100% förnybar energi. Vi har också effektiva Raspberry Pi-lösningar för mindre projekt.</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Kontakta oss idag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Vad vi kan hjälpa dig med</h2>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h3 class="SWWW_H3">Grön hosting i Sverige</h3>
                            <p class="SWWW_P">Vi erbjuder hosting i ett datacenter i Sverige som använder 100% grön energi. Det bästa med denna lösning är att överskottsvärmen från servrarna återvinns och används för att värma upp lokala bostäder. En hållbar lösning som skyddar miljön och optimerar energianvändningen.</p>
                        </div>
                        <div>
                            <h3 class="SWWW_H3">Hosting på Raspberry Pi</h3>
                            <p class="SWWW_P">Om du bara behöver en statisk webbplats kan vi hosta din lösning på en Raspberry Pi direkt hos oss. Detta är en enkel och effektiv hostingmöjlighet som är perfekt för mindre projekt som inte kräver stora serverresurser.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Fördelarna med vår hosting</h2>
                    <ul class="SWWW_CheckList SWWW_CheckList--2Columns">
                        <li>
                            <p class="SWWW_P"><strong>Grön hosting:</strong> Vi använder 100% förnybar energi och återvinner överskottsvärme.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Full kontroll och åtkomst:</strong> Vi har direkt tillgång till servrarna och kan snabbt utföra uppdateringar och säkerhetsåtgärder.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Skräddarsydda lösningar:</strong> Vi anpassar våra hostingalternativ efter dina specifika behov.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Snabb och pålitlig prestanda:</strong> Våra hostinglösningar är optimerade för hastighet och tillgänglighet.</p>
                        </li>
                        <li>
                            <p class="SWWW_P"><strong>Skalbarhet:</strong> Våra hostinglösningar kan enkelt skalas upp eller ner efter dina behov.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Övervakning dygnet runt</h2>
                            <p class="SWWW_P">Vi övervakar alla våra kunders webbplatser dygnet runt. Om din webbplats skulle gå ner får vi omedelbart ett meddelande och kan snabbt åtgärda problemet.</p>
                        </div>
                        <div>
                            <img class="SWWW_SectionImage" src="/Images/phone.svg" alt="Telefon ikon" loading="lazy" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h3 class="SWWW_H3 SWWW_DoubleMarginBottom">Vanliga frågor om vår hosting</h3>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hur fungerar hosting hos er?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi hjälper dig att välja den bästa hostinglösningen för dina behov.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan jag byta hostingplan?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, du kan enkelt byta hostingplan om dina behov ändras.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vilken typ av support erbjuder ni?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi erbjuder snabb och pålitlig support via telefon och e-post.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hur ser prisstrukturen ut?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vår prisstruktur är baserad på standardpriser som justeras efter dina specifika behov.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>