<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Kontakta oss - Sustainable WWW",
        page_description: "Har du några frågor eller ett projekt i åtanke? Kontakta oss idag på info@sustainablewww.org, så skapar vi en mer hållbar webblösning tillsammans!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.com",
        page_full_url: "https://sustainablewww.com/contact",
        page_keywords: "Kontakta Sustainable WWW, Kontakta Sustainable WWW Sweden AB, Mejla Sustainable WWW, Ring Sustainable WWW, Hållbar webbkontakt, Hållbar webbutveckling support, Support Sustainable WWW, Kontakta oss hållbar webb, Hållbar webbdesign kontakt, Hållbar hosting support, Webbdesign support",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Kontakta oss - Sustainable WWW",
          "description": "Har du några frågor eller ett projekt i åtanke? Kontakta oss idag på info@sustainablewww.org, så skapar vi en mer hållbar webblösning tillsammans!",
          "url": "https://sustainablewww.se/kontakt",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h1 class="SWWW_H1">Kontakta oss</h1>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du frågor, en idé till ett projekt eller vill du veta mer om hur vi kan hjälpa dig? Tveka inte att ta kontakt – vi står redo att hjälpa! Skicka oss ett mejl på <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>, så återkommer vi så snart som möjligt.</p>
                    <ul class="SWWW_ImageList SWWW_ImageList--421">
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/ImagesMichael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Porträtt av Michael Andersen" loading="lazy" />
                                </picture>
                                <h3 class="SWWW_H3">Michael Andersen</h3>
                                <p class="SWWW_ContactList_Title">Grundare, Webbutvecklare</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:+46317903740" title="Klicka för att ringa Michael Andersen">031 79 03 740</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:michael@sustainablewww.org" title="Klicka för att skicka e-post till Michael Andersen">michael@sustainablewww.org</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <picture>
                                    <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                    <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Porträtt av Max Wallberg" loading="lazy" />
                                </picture>
                                <h3 class="SWWW_H3">Max Wallberg</h3>
                                <p class="SWWW_ContactList_Title">Grundare, Försäljning</p>
                                <a class="SWWW_ContactList_ContactInformation" href="tel:+46317903740" title="Klicka för att ringa Max Wallberg">031 79 03 740</a>
                                <a class="SWWW_ContactList_ContactInformation" href="mailto:max@sustainablewww.org" title="Klicka för att skicka e-post till Max Wallberg">max@sustainablewww.org</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2">Bli en del av teamet</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Brinner du för att göra skillnad och vara med och driva utvecklingen av ett grönare internet? Se våra lediga tjänster, eller skicka en spontanansökan till <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>.</p>
                    <a href="/se/lediga-tjanster" class="SWWW_Button">Se våra lediga tjänster</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>