<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Lediga tjänster - Sustainable WWW",
        page_description: "Vill du hjälpa till att göra internet grönare? Kolla in våra lediga tjänster eller skicka en spontanansökan till info@sustainablewww.org",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/lediga-tjanster",
        page_keywords: "Sustainable WWW tjänster, Sustainable WWW lediga tjänster, lediga tjänster",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Lediga tjänster - Sustainable WWW",
          "description": "Vill du hjälpa till att göra internet grönare? Kolla in våra lediga tjänster eller skicka en spontanansökan till info@sustainablewww.org",
          "url": "https://sustainablewww.se/lediga-tjanster",
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h1 class="SWWW_H1">Lediga tjänster</h1>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Vi har tyvärr inga lediga tjänster just nu. Men du är alltid välkommen att skicka oss en spontanansökan till <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>.</p>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>