<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Om oss | Vår mission för ett hållbart internet - Sustainable WWW",
        page_description: "Läs historien om Sustainable WWW – från en blogg till ett internationellt företag. Vår mission är att skapa ett hållbart internet med lösningar som gör skillnad.",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/om",
        page_keywords: "Om Sustainable WWW, Sustainable WWW Sweden AB, Om oss",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Om oss | Vår mission för ett hållbart internet - Sustainable WWW",
          "description": "Läs historien om Sustainable WWW – från en blogg till ett internationellt företag. Vår mission är att skapa ett hållbart internet med lösningar som gör skillnad.",
          "url": "https://sustainablewww.se/om"
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero SWWW_Hero--ContentMaxWidth">
                        <h1 class="SWWW_H1">Om oss</h1>
                        <p class="SWWW_P SWWW_Ingress">Vi är dedikerade till att hjälpa dig bygga en hållbar, snabb och inkluderande digital närvaro – för en grönare framtid.</p>
                        <p class="SWWW_P SWWW_Ingress">För oss är det viktigt att dina önskemål står i centrum och att du får en produkt du kan vara stolt över – samtidigt som vi gör internet till en hållbar del av vår gemensamma framtid.</p>
                        <a href="/tjanster" class="SWWW_Button">Våra tjänster</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Vår mission och vision</h2>
                            <p class="SWWW_P">Sustainable WWW grundades 2021 av Max och Michael Andersen med ett tydligt uppdrag – att minska internets miljöpåverkan. Allt började som en blogg där vi delade vår forskning och konkreta råd om hur webbutveckling kunde göras mer hållbar.</p>
                            <p class="SWWW_P">Bloggen växte snabbt och blev en källa till inspiration för webbutvecklare över hela världen, vilket ledde till att Sustainable WWW idag är ett internationellt företag som hjälper kunder i Sverige, Danmark, Norge och flera engelsktalande länder att skapa hållbara webbplatser. Vårt uppdrag är fortfarande detsamma – att göra internet mer optimerat, hållbart och inkluderande för en hållbar framtid.</p>
                            <p class="SWWW_P">Vi ser till att dina webbplatser och webbapplikationer uppfyller dina mål och krav, samtidigt som vi säkerställer en positiv påverkan på miljön och din digitala närvaro.</p>
                        </div>
                        <div>
                            <h2 class="SWWW_H2">Vår resa</h2>
                            <ul class="SWWW_InfoList SWWW_InfoList--NoDash SWWW_InfoList--MaxWidth900">
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2021:</strong> Sustainable WWW grundades av Max och Michael Andersen med fokus på hållbara webbmetoder, hostad på GitHub som open-source-bibliotek för hållbara webbmetoder, och bevarad i Arctic Vault för framtida generationer.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2022:</strong> Projektet utvecklades till en podcast och inspirerade hundratals utvecklare och organisationer att minska sina webbplatser och webbapplikationers miljöpåverkan.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>2023:</strong> Vi lanserade våra första tjänster, med fokus på webbdesign och optimering, och etablerade samarbeten med skandinaviska företag för att skapa hållbara webb lösningar.</p>
                                </li>
                                <li>
                                    <p class="SWWW_P P--MaxWidth900"><strong>Idag:</strong> Sustainable WWW är ett internationellt företag som fortsätter att leda utvecklingen mot ett grönare internet, med tjänster som webbdesign, webbutveckling, analys & optimering, och grön hosting.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Möt grundarna</h2>
                    <ul class="SWWW_ContactList">
                        <li>
                            <picture>
                                <source srcset="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Michael-Andersen-Portrait-Medium-Sustainable-WWW.jpg" alt="Porträtt av Michael Andersen" loading="lazy" style="aspect-ratio: 650/951" />
                            </picture>
                            <h3 class="SWWW_H3">Michael Andersen</h3>
                            <p class="SWWW_ContactList_Title">Grundare, Webbutvecklare och författare</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Michael grundade Sustainable WWW för att dela sin kunskap om hur internet kan bli mer hållbart. Han har över 10 års erfarenhet av webbutveckling och har skrivit boken "<a href="/sustainable-web-design-in-20-lessons" target="_blank">Sustainable Web Design In 20 Lessons</a>". Med en djup passion för natur och teknik arbetar han målmedvetet för att skapa en grönare digital framtid.</p>
                        </li>
                        <li>
                            <picture>
                                <source srcset="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW-WebP.webp" type="image/webp" />
                                <img src="/Images/Max-Wallberg-Portrait-Medium-Sustainable-WWW.jpg" alt="Porträtt av Max Wallberg" loading="lazy" style="aspect-ratio: 650/951" />
                            </picture>
                            <h3 class="SWWW_H3">Max Wallberg</h3>
                            <p class="SWWW_ContactList_Title">Grundare, Försäljning</p>
                            <p class="SWWW_P SWWW_ContactList_Description">Max är en passionerad förespråkare för hållbarhet inom alla områden av livet. Med många års erfarenhet inom försäljning var han med och omvandlade Sustainable WWW till ett framgångsrikt företag som skapar hållbara webbplatser för företag.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>