<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Sustainable web design in 20 lessons - Sustainable WWW",
        page_description: "Lär dig skapa snabba och hållbara webbplatser med 20 lektioner baserade på över 10 års erfarenhet. 300+ sidor fyllda med insikter, verktyg och strategier.",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/sustainable-web-design-in-20-lessons",
        page_keywords: "Hållbar webbdesign i 20 lektioner, Bok om hållbar webbdesign, Bok om hållbar webb-utveckling, Bok om hållbar webbdesign, Hur man skapar klimatvänliga webbplatser, Webbdesign för hållbarhet, Hållbar webbutveckling, Miljövänlig webbdesign, Klimatsmart webbdesign, Webbdesign och klimatpåverkan, Effektiv webbdesign för miljön, Hållbara digitala lösningar, Minimera webbplatsens koldioxidavtryck, Webbutveckling med låg miljöpåverkan, Hållbar utveckling av webbplatser",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Sustainable web design in 20 lessons - Sustainable WWW",
          "description": "Lär dig skapa snabba och hållbara webbplatser med 20 lektioner baserade på över 10 års erfarenhet. 300+ sidor fyllda med insikter, verktyg och strategier.",
          "url": "https://sustainablewww.se/sustainable-web-design-in-20-lessons
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_H1--BookTitle">Sustainable Web Design In 20 Lessons</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Praktisk guide till snabbare, mer effektiva och hållbara webbplatser – baserad på över 10 års erfarenhet i branschen.</p>
                        <a href="https://www.amazon.se/-/en/Michael-Andersen/dp/B0CKJ28MBZ/" target="_blank" class="SWWW_Button" rel="nofollow noopener noreferrer">Köp boken nu</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H3">Bokbeskrivning</h2>
                            <p class="SWWW_P">Visste du att internet idag är en av världens största miljöbelastningar? Med 4 % av de globala växthusgasutsläppen – dubbelt så mycket som luftfartssektorn – är det en osynlig föroreningskälla som bara växer. Om utvecklingen fortsätter kan internets klimatavtryck snart överträffa till och med världens största nationer, bortsett från Kina, Indien och USA.</p>
                            <p class="SWWW_P">Men det finns en lösning.</p>
                            <p class="SWWW_P">I takt med att vi arbetar mot en netto-noll framtid innan 2050, är det avgörande att minska internets koldioxidavtryck. Problemet? Webbplatser och digitala produkter blir tyngre och mer resurskrävande, drivet av snabbare internetanslutningar och kraftfullare hårdvara. Lösningen? <strong>Hållbar webbdesign</strong>.</p>
                            <p class="SWWW_P"><strong>Sustainable Web Design In 20 Lessons</strong> är din guide till att bygga effektiva, miljövänliga webbplatser – utan att kompromissa med design eller funktionalitet. På över 300 sidor delar Michael mer än ett decenniums praktisk erfarenhet och ger dig de verktyg du behöver för att göra en verklig skillnad.</p>
                        </div>
                        <div>
                            <picture>
                                <source type="image/webp" srcset="/Images/Sustainable-Web-Design-In-20-Lessons-Wide-Gumroad-Cover-Mobile-Without-Preview-webp.webp" />
                                <img src="/Images/Sustainable-Web-Design-In-20-Lessons-Wide-Gumroad-Cover-Mobile-Without-Preview.jpg" alt="En bild som visar omslaget till boken Sustainable Web Design In 20 Lessons" loading="lazy" />
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2">Omdömen</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Se vad branschexperterna säger om boken och varför den är ett viktigt steg mot ett mer hållbart internet.</p>
                    <div class="SWWW_Quote">
                        <div class="SWWW_Quote_Image">
                            <picture>
                                <source type="image/webp" srcset="/Images/tom-greenwood-webp.webp" />
                                <img class="SWWW_Effect--NoHighlight" src="/Images/tom-greenwood.jpg" alt="Tom Greenwood (Författare till boken Sustainable Web Design)" loading="lazy" />
                            </picture>
                            <p class="SWWW_Quote_Person">Tom Greenwood</p>
                            <p class="SWWW_Quote_Occupation">Författare till Sustainable Web Design</p>
                        </div>
                        <div class="SWWW_Quote_Text">
                            <p class="SWWW_P">Michael Andersen is the creator is the online resource and organisation Sustainable WWW, raising awareness and teaching how to create a more sustainable web. As part of this mission, he has recently published this book on the same topic, sharing the lessons that he has learned in recent years. As the title suggests, it’s full of practical tips on how to take action in your web design projects to reduce their environmental impact.</p>
                            <p class="SWWW_P">Drawing inspiration from a range of sources, the 20 lessons covered include minimalist design, page weight budgeting, HTML, CSS and JS optimisation, as well as lessons on green API’s, email newsletters, accessibility and much more.</p>
                            <p class="SWWW_P">Andersen’s ’20 lessons’ format offers an easy to follow, practical application of the research and best practices on sustainable web design. <strong>If you’re after an in-depth ‘how to guide, then this format may be just what you’re looking for.</strong></p>
                        </div>
                    </div>
                    <div class="SWWW_Quote">
                        <div class="SWWW_Quote_Image">
                            <picture>
                                <source type="image/webp" srcset="/Images/Ismael-Velasco-webp.webp" />
                                <img class="SWWW_Effect--NoHighlight" src="/Images/Ismael-Velasco.jpg" alt="Porträtt av Ismael Velasco" loading="lazy" />
                            </picture>
                            <p class="SWWW_Quote_Person">Ismael Velasco</p>
                            <p class="SWWW_Quote_Occupation">W3C:s grupp för hållbar webbdesign</p>
                        </div>
                        <div class="SWWW_Quote_Text">
                            <p class="SWWW_P">If you’re a climate-conscious but busy web developer wanting to green your practice, Sustainable Web Design in 20 Lessons by Michael Andersen is your ideal starting point. Your day-to-day web development practice can be an impactful climate action: this book will help you make it so.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>