<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Våra tjänster - Sustainable WWW",
        page_description: "Hållbar webbdesign, utveckling och analys. Vi skapar snabba, energieffektiva webbplatser som minskar koldioxidavtrycket och optimerar användarupplevelsen.",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.com/tjanster",
        page_keywords: "Sustainable WWW tjänster",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Våra tjänster - Sustainable WWW",
          "description": "Hållbar webbdesign, utveckling och analys. Vi skapar snabba, energieffektiva webbplatser som minskar koldioxidavtrycket och optimerar användarupplevelsen.",
          "url": "https://sustainablewww.se/tjanster
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Våra <span class="SWW_Effect--Underline">tjänster</span></h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vi skapar hållbara, snabba och effektiva webblösningar för en grönare framtid.</p>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Kärnan i vår verksamhet är digital hållbarhet. Våra tjänster är dedikerade till att främja ett grönare, mer inkluderande och framtidssäkrat internet.</p>
                        <a href="mailto:info@sustainablewww.org" class="SWWW_Button">Kontakta oss idag</a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Webbdesign</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Vi skapar hållbara och blixtsnabba webbplatser som reducerar kostnader, ökar konverteringar och stärker ditt varumärke. Våra lösningar är över 60 % lättare, snabbare och mer effektiva än branschstandarden – vilket ger bättre användarupplevelser och mindre CO₂-avtryck.</p>
                            <a href="/tjanster/webbdesign" target="_self" class="SWWW_Button">Läs mer om webbdesign</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Webbutveckling</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Vi utvecklar avancerade webblösningar, inklusive interaktiva dashboards, skräddarsydda intranät och verksamhetskritiska webbapplikationer. Med tekniker som React, Express.js och Node.js bygger vi intelligenta, användarvänliga system som optimerar arbetsprocesser och förbättrar den digitala upplevelsen – hållbart och effektivt.</p>
                            <a href="/tjanster/webbutveckling" target="_self" class="SWWW_Button">Läs mer om webbutveckling</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Analys & Optimering</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Få insikt i din webbplats prestanda, hållbarhet och effektivitet. Vi analyserar hastighet, CO₂-avtryck och användarupplevelse, och levererar en rapport med konkreta optimeringsförslag. Vi kan även hjälpa dig att förbättra din webbplats för att göra den snabbare, lättare och mer hållbar – till gagn för både din verksamhet och miljön.</p>
                            <a href="/tjanster/analys-och-optimering" target="_self" class="SWWW_Button">Läs mer om analys och optimering</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h2 class="SWWW_H2">Hosting</h2>
                        </div>
                        <div>
                            <p class="SWWW_P">Vi erbjuder grön hosting i Sverige, drivet av 100 % förnybar energi, samt kostnadseffektiva Raspberry Pi-lösningar för mindre projekt. Vår hållbara hosting minskar ditt CO₂-avtryck, optimerar prestanda och skyddar din webbplats – allt med återvinning av överskottsvärme för en ännu grönare lösning.</p>
                            <a href="/tjanster/hosting" target="_self" class="SWWW_Button">Läs mer om hosting</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3 SWWW_DoubleMarginBottom">Vanliga frågor om våra tjänster</h3>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Varför ska jag välja en hållbar webbplats för mitt företag?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">En hållbar webbplats gynnar både miljön och din verksamhet:</p>
                                    <ul class="SWWW_CheckList">
                                        <li>
                                            <p class="SWWW_P"><strong>Miljövänlig:</strong> Reducerar CO₂-avtrycket genom lägre energiförbrukning.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Besparingar:</strong> Effektiv kodning och optimerade lösningar sänker hostingkosten och förbättrar laddningstider.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Stärker varumärket:</strong> Visar ditt engagemang för hållbarhet.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Framtidssäkring:</strong> Förbereder ditt företag för kommande krav på digital hållbarhet.</p>
                                        </li>
                                        <li>
                                            <p class="SWWW_P"><strong>Ger konkurrensfördelar:</strong> Attraherar miljömedvetna kunder.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Kan ni göra om min befintliga webbplats så att den blir mer hållbar?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja, vi kan analysera din befintliga webbplats och identifiera förbättringsområden för att minska dess miljöpåverkan. <a href="/kontakt">Kontakta oss</a> för en kostnadsfri konsultation!</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Erbjuder ni support och underhåll efter att webbplatsen är lanserad?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja, vi erbjuder löpande support och underhåll för att säkerställa att din webbplats fungerar optimalt även efter lanseringen. Vi vill att du ska känna dig trygg med din webbnärvaro.</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Erbjuder ni utbildning i hur man administrerar och uppdaterar webbplatsens innehåll?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Ja, vi erbjuder support och utbildning för att du enkelt ska kunna hantera din webbplats eller webblösning.</p>
                                </div>
                            </div>
                            <div class="SWWW_FAQ">
                                <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                                    Vad kostar det att utveckla en hållbar webbplats?
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                                </h4>
                                <div class="SWWW_FAQ--Answer">
                                    <p class="SWWW_P">Kostnaden varierar beroende på projektets omfattning och komplexitet. Hållbara lösningar är ofta mer kostnadseffektiva på lång sikt tack vare minskad energiförbrukning och lägre hostingkostnader. <a href="/kontakt">Kontakta oss</a> för en skräddarsydd offert!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>