<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Hållbar webbutveckling | Bygg en framtidssäkrad internet – Sustainable WWW",
        page_description: "Hållbar webbutveckling som sparar energi, förbättrar hastigheten och stärker ditt varumärke. Bygg en grönare framtid. Klicka för att lära dig mer!",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/tjanster/webbutveckling",
        page_keywords: "Sustainable WWW Hållbara Lösningar, Hållbar Webbutveckling, Hållbara Webbapplikationer, Energieffektiv Webbutveckling, Klimatsmart Webbdesign, Grön Webbutveckling, Hållbara Digitala Lösningar, Webbutveckling för en hållbar framtid, Resurseffektiv Webbutveckling, Miljövänlig Webbutveckling, Webbutveckling för låg CO2-påverkan, Hållbar Digital Transformation",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Hållbar webbutveckling | Bygg en framtidssäkrad internet – Sustainable WWW",
          "description": "Hållbar webbutveckling som sparar energi, förbättrar hastigheten och stärker ditt varumärke. Bygg en grönare framtid. Klicka för att lära dig mer!",
          "url": "https://sustainablewww.se/tjanster/webbutveckling"
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable">Bygg framtidens webbplats med oss</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Vill du ha en snabb, säker och miljövänlig webbplats som ger resultat?</p>
                        <p class="SWWW_P P--MaxWidth900">Vi på Sustainable WWW är experter på hållbar webbutveckling. Vi hjälper företag att skapa webbplatser som inte bara ser bra ut, utan också minskar kostnader, ökar engagemanget och bidrar till en bättre miljö.</p>
                        <a href="mailto:info@sustainablewww.org"><strong>Kontakta oss idag för en kostnadsfri konsultation!</strong></a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Vad vi kan hjälpa dig med</h2>
                    <div class="SWWW_Grid SWWW_Grid5050">
                        <div>
                            <h3 class="SWWW_H3">Webbapplikationer som engagerar</h3>
                            <p class="SWWW_P">Vi utvecklar anpassade webbapplikationer med moderna tekniker som React och Svelte. Våra applikationer är snabba, effektiva och hållbara, och ger dina användare en fantastisk upplevelse.</p>
                        </div>
                        <div>
                            <h3 class="SWWW_H3">Skräddarsydda system som skapar värde</h3>
                            <p class="SWWW_P">Vi skapar skräddarsydda system som integrerar front-end och back-end-funktioner för att möta dina unika affärsbehov. Oavsett om du behöver ett nytt system eller vill integrera med din befintliga infrastruktur, kan vi hjälpa dig.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Välja Sustainable WWW för din webbutveckling!</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/globe.svg" alt="Vektor av jordglob" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Minska ditt koldioxidavtryck:</h3>
                                <p class="SWWW_P">Vi bygger webbplatser som är optimerade för minimal energiförbrukning och utsläpp.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/calculator.svg" alt="Vektor av räknare" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Överlägsen prestanda:</h3>
                                <p class="SWWW_P">Våra webbplatser är över 60% lättare än branschstandarden, vilket ger snabbare laddningstider och en bättre användarupplevelse.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/cogwheel.svg" alt="Vektor av kugghjul" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Skräddarsydda lösningar:</h3>
                                <p class="SWWW_P">Vi anpassar våra tjänster efter dina unika behov och mål.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Vektor av hållande händer" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Tillgänglighet</h3>
                                <p class="SWWW_P">Vi skapar webbplatser som är tillgängliga för alla, oavsett funktionsvariation.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Vektor av sköld" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Säkerhet</h3>
                                <p class="SWWW_P">Vi skyddar din webbplats mot hot och attacker.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Vektor av diagram" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">SEO-optimering:</h3>
                                <p class="SWWW_P">Vi hjälper dig att ranka högre i sökresultaten och få mer organisk trafik.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40 SWWW_PageTransitionEffect">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Fallstudier</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/fallstudier/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Two of Skydive Sweden's website pages" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webbdesign och problemlösning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/fallstudier/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Two of Kompetencekildens website pages" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webbdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/fallstudier/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Two of Tandemhopp.se's website pages" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webbdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_PageTransitionEffect">
                <div>
                    <h3 class="SWWW_H3">Vanliga frågor om vår webbutveckling</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du frågor om våra tjänster eller vad vi gör? Här hittar du svar på några av de vanligaste frågorna.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vilka tekniker använder ni?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi är experter på moderna tekniker som Node.js, Express.js, MongoDB, React, Svelte, Rust och Strapi.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan ni integrera med min befintliga infrastruktur?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi har erfarenhet av att integrera nya system med befintliga system.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hur säkerställer ni skalbarhet?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi bygger system som är designade för att växa med din verksamhet.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Hur lång tid tar det att utveckla en webbplats?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Tidslinjen varierar beroende på projektets komplexitet, men vi arbetar alltid för att leverera i tid och inom budget.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vilken typ av support erbjuder ni?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi erbjuder löpande support och underhåll för att säkerställa att din webbplats fungerar optimalt.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vad kostar det?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi erbjuder både fast pris och timpris. Kontakta oss för en offert!</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Erbjuder ni webbhotell?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Ja, vi erbjuder grön webbhotell via en svensk leverantör som använder 100% förnybar energi.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>