<!DOCTYPE html>
<html lang="sv">
<head>
    <%- include('../Partials/Header_Inclusions.ejs', {
        page_title: "Hållbar Webbdesign | Bygger ett Framtidssäkert Internet – Sustainable WWW",
        page_description: "Hållbara webbplatser som sparar energi, minskar CO₂ och ökar hastigheten. Gör ditt företag grönare idag – kontakta oss för mer information!",
        page_image: "https://sustainablewww.dk/image.jpg",
        page_url: "https://sustainablewww.se",
        page_full_url: "https://sustainablewww.se/tjanster/webbdesign",
        page_keywords: "Sustainable WWW, Hållbar Webbdesign, Hållbara webbplatser, Hållbar Webbutveckling, Miljövänlig webbdesign, Klimatsmart webbutveckling, Energieffektiva webbplatser, Grön webbutveckling, Hållbar digital design, CO₂-smart webbdesign, Webbutveckling med låg klimatpåverkan, Optimerade och hållbara hemsidor",
        page_author: "Sustainable WWW",
        page_locale: "sv"
    }) %>
</head>
<body class="SWWW_Light">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Hållbar Webbdesign | Bygger ett Framtidssäkert Internet – Sustainable WWW",
          "description": "Hållbara webbplatser som sparar energi, minskar CO₂ och ökar hastigheten. Gör ditt företag grönare idag – kontakta oss för mer information!",
          "url": "https://sustainablewww.se/tjanster/webbdesign,
          "image": "https://yourwebsite.com/image.jpg"
        }
    </script>
    <%- include('../Partials/SE/Header.ejs') %>
    <main class="SWWW_Main">
        <div class="SWWW_Main_Inner">
            <section class="SWWW_Row">
                <div>
                    <div class="SWWW_Hero">
                        <h1 class="SWWW_H1 SWWW_H1--NotScalable SWWW_Balance">Snabba, snygga och miljövänliga webbplatser</h1>
                        <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Är du trött på långsamma webbplatser som kostar skjortan och skadar miljön?</p>
                        <p class="SWWW_P P--MaxWidth900 P--MarginBottom10">Vi på Sustainable WWW Skapar webbplatser som är:</p>
                        <ul class="SWWW_CheckList">
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Blixtsnabba:</strong> Vi optimerar varje detalj för att ge dina besökare en suverän upplevelse.</p>
                            </li>
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Snygga:</strong> Vi designar webbplatser som speglar ditt varumärke och engagerar dina kunder.</p>
                            </li>
                            <li>
                                <p class="SWWW_P P--MaxWidth900"><strong>Hållbara:</strong> Vi minskar din klimatpåverkan och visar att du tar ansvar för miljön.</p>
                            </li>
                        </ul>
                        <a href="mailto:info@sustainablewww.org"><strong>Kontakta oss idag för en kostnadsfri konsultation!</strong></a>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Varför välja oss för din webbdesign?</h2>
                    <ul class="SWWW_IconList">
                        <li>
                            <div>
                                <img src="/Images/moneypig.svg" alt="Vektor av pengar loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Vi sänker dina kostnader:</h3>
                                <p class="SWWW_P">Våra optimerade webbplatser kräver mindre serverkraft och minskar dina hostingkostnader.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/graph.svg" alt="Vektor av graf" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Vi ger dig en bättre ranking på Google:</h3>
                                <p class="SWWW_P">Snabba och användarvänliga webbplatser belönas av Google, vilket ger dig mer trafik och fler kunder.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/trophy.svg" alt="Vektor av kugghjul" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Vi stärker ditt varumärke:</h3>
                                <p class="SWWW_P">Visa dina kunder att du bryr dig om miljön och attrahera en växande grupp miljömedvetna konsumenter.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/hands.svg" alt="Vektor av händer som håller varandra" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Vi gör det enkelt för alla:</h3>
                                <p class="SWWW_P">Våra webbplatser är tillgängliga för alla, oavsett funktionsvariation eller teknisk kunskap.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="/Images/shield.svg" alt="Vektor av sköld" loading="lazy" />
                            </div>
                            <div>
                                <h3 class="SWWW_H3">Vi skyddar din verksamhet:</h3>
                                <p class="SWWW_P">Vi bygger säkra webbplatser som står emot attacker och skyddar din data.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray">
                <div>
                    <h2 class="SWWW_H2">Vad innebär hållbar webbdesign i praktiken?</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Många webbdesignbyråer pratar om design och funktioner, men vi går ett steg längre. Vi tänker på helheten och optimerar din webbplats för:</p>
                    <ul class="SWWW_InfoList SWWW_InfoList--MaxWidth900">
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Minimalt koldioxidavtryck:</strong> Vi väljer grön hosting och minimerar dataöverföringen.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Maximal prestanda:</strong> Vi använder den senaste tekniken och optimerar koden för snabbast möjliga laddningstider.</p>
                        </li>
                        <li>
                            <p class="SWWW_P P--MaxWidth900"><strong>Långsiktig hållbarhet:</strong> Vi bygger webbplatser som är lätta att underhålla och uppdatera, vilket minskar behovet av dyra redesigns i framtiden.</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--Gray SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2 SWWW_DoubleMarginBottom">Fallstudier</h2>
                    <ul class="SWWW_ImageList">
                        <li>
                            <a href="/se/cases/skydive-sweden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Skydive-Sweden/Skydive-Sweden-Case-Study-List-Image.jpg" alt="Skärmdump av två av Skydive Swedens webbsidor" loading="lazy" />
                                </picture>
                                <h3>Skydive Sweden</h3>
                                <p>Webbdesign och problemlösning</p>
                            </a>
                        </li>
                        <li>
                            <a href="/se/cases/kompetencekilden" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Kompetencekilden/Kompetencekilden-Sustainable-WWW-Case-Study-List-Image.jpg" alt="Skärmdump av två av Kompetencekildens webbsidor" loading="lazy" />
                                </picture>
                                <h3>Kompetencekilden</h3>
                                <p>Webbdesign</p>
                            </a>
                        </li>
                        <li>
                            <a href="/se/cases/tandemhopp" target="_self" class="Hover--Scale">
                                <picture>
                                    <source type="image/webp" srcset="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image-Webp.webp" />
                                    <img src="/Images/Case-Studies/Tandemhopp/Tandemhopp-Case-Study-List-Image.jpg" alt="Två av Tandemhopps webbsidor" loading="lazy" />
                                </picture>
                                <h3>Tandemhopp</h3>
                                <p>Webbdesign</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="SWWW_Row">
                <div>
                    <h3 class="SWWW_H3">Vanliga frågor om hållbar webbdesign</h3>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900 P--MarginBottom80">Har du frågor om våra tjänster eller vad vi gör? Här hittar du svar på några av de vanligaste frågorna.</p>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Är hållbar webbdesign dyrare?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Inte nödvändigtvis. Även om den initiala investeringen kan vara något högre, sparar du pengar på lång sikt genom lägre hostingkostnader och ökad trafik.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Vilka tekniker använder ni?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Vi är experter på moderna tekniker som Node.js, React, Svelte och andra verktyg som hjälper oss att bygga snabba och effektiva webbplatser.</p>
                        </div>
                    </div>
                    <div class="SWWW_FAQ">
                        <h4 class="SWWW_H4 SWWW_Effect--NoHighlight" tabindex="0">
                            Kan ni anpassa designen efter mina behov?
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#f3f3f3"><path d="m320.23-107.69-42.54-42.54L607.46-480 277.69-809.77l42.54-42.54L692.54-480 320.23-107.69Z"/></svg>
                        </h4>
                        <div class="SWWW_FAQ--Answer">
                            <p class="SWWW_P P--MaxWidth900">Absolut! Vi skapar skräddarsydda webbplatser som speglar ditt varumärke och uppfyller dina specifika mål.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="SWWW_Row SWWW_Row--PaddingTop40">
                <div>
                    <h2 class="SWWW_H2">Redo att ta nästa steg?</h2>
                    <p class="SWWW_P SWWW_Ingress P--MaxWidth900">Kontakta oss idag för en kostnadsfri konsultation! Vi diskuterar dina behov och visar hur vi kan hjälpa dig att skapa en webbplats som är både bra för din verksamhet och bra för miljön.</p>
                    <a href="/se/kontakt" class="SWWW_Button">Kontakta oss</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('../Partials/SE/Footer.ejs') %>
</body>
</html>