<footer class="SWWW_Footer">
    <div>
        <section class="SWWW_Footer_Row">
            <div class="SWWW_Footer_Section">
                <a 
                    href="/" 
                    target="_self"
                    aria-label="Gå til startsiden"
                    title="Klik for at gå til startsiden"
                    class="SWWW_SiteLogo Hover--Scale"
                >
                    <picture>
                        <source type="image/webp" srcset="/Images/Sustainable-WWW-White-logo.webp" />
                        <img src="/Images/Sustainable-WWW-White-logo.png" alt="Sustainable WWW Sweden AB logo" loading="lazy" style="aspect-ratio: 50/50;" />
                    </picture>
                </a>
                <div class="SWWW_Grid SWWW_Grid5050">
                    <div>
                        <address>
                            Gräsmånadsgatan 30<br/>
                            415 48 Göteborg<br/>
                            Sverige<br/>
                            Svensk CVR: 559470-7167
                        </address>
                    </div>
                    <div>
                        <ul class="SWWW_Footer_ContactLinks">
                            <li>
                                <a href="tel:+46317903740">+46 31 79 03 740</a>
                            </li>
                            <li>
                                <a href="mailto:info@sustainablewww.org">info@sustainablewww.org</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="SWWW_Footer_Section">
                <h3 class="SWWW_H3">Skal vi tage en uforpligtende snak om jeres udfordringer?</h3>
                <a href="/kontakt" target="_self" class="SWWW_H3">
                    Kontakt os her
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M372.31-267.69 160-480l212.31-212.31L400.62-664l-164 164H800v40H236.62l164 164-28.31 28.31Z"/></svg>
                </a>
            </div>
        </section>
        <section class="SWWW_Footer_Row">
            <div class="SWWW_Footer_Section">
                <nav class="SWWW_Footer_Navigation">
                    <ul>
                        <li>
                            <a href="/cookies-og-privatlivspolitik">Cookie- og privatlivspolitik</a>
                        </li>
                        <li>
                            <a href="/ledige-stillinger">Ledige stillinger</a>
                        </li>
                        <li>
                            <a href="/artikler">Artikler</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="SWWW_Footer_Section">
                <div id="wcb" class="carbonbadge wcb-d"></div>
            </div>
        </section>
    </div>
</footer>
<script type="text/javascript" src="/Scripts/website_scripts.js"></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/michael-sustainablewww/45min?primary_color=1a1a1a', text: 'Book et gratis møde', color: '#1a1a1a', textColor: '#ffffff' }); }</script>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>